{% extends "base.html" %}
{% load static %}

{% block meta %}
<meta charset="UTF-8">
<meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="description" content="{{ store.meta_description }}">
<meta content="PicoSite" name="author">
<meta name="keywords" content="{{store.meta_keywords}}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{store.get_canonical}}">

<!-- Open Graph tags -->
<meta property="og:title" content="{{store.meta_og_title}}">
<meta property="og:description" content="{{meta_og_description}}">
<meta property="og:image" content="{{store.get_logo_image}}" rel="shortcut icon" type="image/x-icon">
<meta property="og:url" content="{{store.get_canonical}}">
<meta property="og:type" content="website">

<!-- Twitter Card tags -->
<meta name="twitter:card" content="Summary Card with Large Image">
<meta name="twitter:title" content="{{store.meta_tc_title}}">
<meta name="twitter:description" content="{{store.meta_tc_description}}">
<meta name="twitter:image" content="{{store.get_logo_image}}">
{% endblock %}


{% block title %}وبلاگ{% endblock %}
{% block content %}

{% if store.has_domain == True %}
<script>
    // Replace the common part of the URL with an empty string
    var currentUrl = window.location.href;
    var newUrl = currentUrl.replace('/shop/{{store.name}}/', '/');
    history.replaceState(null, null, newUrl);
</script>
{% endif %}


<div class="main-content app-content mt-0">
    <div class="side-app">
        <div class="main-container container-fluid">
            <div class="page-header">
                <h1 class="page-title">وبلاگ</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">فروشگاه</a></li>
                        <li aria-current="page" class="breadcrumb-item active">وبلاگ</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8">
                    <div class="row">
                        {% for post in posts %}
                        <div class="col-xl-4 col-md-12">
                            <div class="card overflow-hidden">
                                <a href="{% url 'shop:post_detail' post.slug %}"><img alt="img" class="card-img-top" src="{{post.get_thumbnail}}"></a>
                                <div class="card-body">
                                    <a href="{% url 'shop:post_detail' post.slug %}"><h5 class="card-title">{{ post.title|truncatewords:10 }}</h5></a>
                                    
                                    <a class="btn btn-primary mt-4" href="{% url 'shop:post_detail' post.slug %}">مشاهده جزییات</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">نوشته های اخیر</div>
                                </div>
                                <div class="card-body">
                                    <div class="">
                                        {% for post in posts|slice:":10" %}
                                        <div class="d-flex overflow-visible mt-5">
                                            <a href="{% url 'shop:post_detail' post.slug %}"><img alt="" class="br-5" src="{{post.get_thumbnail}}" height="85px"></a>
                                            <div class="ps-3 flex-column">
                                                <span class="badge bg-primary me-1 mb-1 mt-1">{{post.category.name}}</span>
                                                <h4><a href="{% url 'shop:post_detail' post.slug %}">{{post.title|truncatewords:6}}</a></h4>
                                                
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock %}