{% extends "base.html" %}
{% load static %}
{% block title %}ویرایش محصول{% endblock %}

{% block content %}

    
    <!--app-content open-->
    <div class="main-content app-content mt-0">
        <div class="side-app">

            <!-- CONTAINER -->
            <div class="main-container container-fluid">

                <!-- PAGE-HEADER -->
                <div class="page-header">
                    <h1 class="page-title">ویرایش محصول</h1>
                    <div>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'shop:owner_dashboard' %}">پنل فروشندگی</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'shop:product_update' product.id %}">ویرایش محصول</a></li>
                        </ol>
                    </div>
                </div>
                <!-- PAGE-HEADER END -->

                <!-- ROW-1 OPEN -->
                <div class="row">
                    
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">ویرایش محصول</div>
                            </div>
                            <form method="post" action="{% url 'shop:product_update' product.id %}">
                                {% csrf_token %}

                                <div class="card-body">

                                    <div class="row mb-4">
                                        <label class="col-md-3 form-label">نام محصول :</label>
                                        <div class="col-md-9">
                                            <input name="name" class="form-control" placeholder="نام محصول" type="text" value="{{ product.name }}"ر>
                                        </div>
                                    </div>

                                    <div class="row mb-4">
                                        <label class="col-md-3 form-label">قیمت :</label>
                                        <div class="col-md-9">
                                            <input name="price" class="form-control" placeholder="قیمت به تومان" type="number" value="{{ product.price }}">
                                        </div>
                                    </div>

                                    <div class="row mb-4">
                                        <label class="col-md-3 form-label">قیمت تخفیف خورده :</label>
                                        <div class="col-md-9">
                                            <input name="sales_price" class="form-control" value="{{product.sales_price}}" placeholder="در صورت فعال بودن تخفیف قیمت پس از تخفیف را به تومان وارد نمایید" type="number">
                                        </div>
                                    </div>

                                    <div class="row mb-4">
                                        <label class="col-md-3 form-label">فعال بودن حراجی :</label>

                                        <div class="col-md-9">
                                            <p>در حال حاضر حراج {% if product.off_active == True %} فعال {% else %} غیر فعال {% endif %} است.</p>
                                            <select name="off_active" class="form-control select2-show-search form-select" data-placeholder="انتخاب" type="text">
                                                {% if product.off_active == None %}
                                                    <option value="0">حراج غیر فعال</option>
                                                    <option value="1">حراج فعال</option>
                                                {% elif product.off_active == True %}
                                                    <option value="1">حراج فعال</option>
                                                    <option value="0">حراج غیر فعال</option>
                                                {% elif product.off_active == False %}
                                                    <option value="0">حراج غیر فعال</option>
                                                    <option value="1">حراج فعال</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    
                                    
                                    <!-- <div class="row mb-4">
                                        <label class="col-md-3 form-label">فعال :</label>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <label class="custom-control custom-checkbox mb-0">
                                                    <input class="custom-control-input" name="available"
                                                        type="checkbox" value="option1">
                                                    <span class="custom-control-label">اگر محصول فعال است این تیک را بزنید</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>   -->

                                    <div class="row mb-4">
                                        <label class="col-md-3 form-label">دسته‌بندی :</label>
                                        <div class="col-md-9">
                                            <select name="category" class="form-control select2-show-search form-select" data-placeholder="انتخاب" type="text">
                                            {% if product.get_main_category != None %}
                                            <option selected="selected" value="{{ product.get_main_category.id }}">{{product.get_main_category.name}}</option>
                                            {% else %}
                                            <option selected="selected" value="0">دسته‌بندی نشده</option>
                                            {% endif %}
                                            {% for category in categories %}
                                            <option value="{{category.id}}">{{category.name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="row mb-4">
                                        <label class="col-md-3 form-label">برند :</label>
                                        <div class="col-md-9">
                                            <input name="brand" class="form-control" placeholder="برند" type="text" value="{{ product.brand }}"ر>
                                        </div>
                                    </div>

                                    <div class="row" id="des">
                                        <label class="col-md-3 form-label mb-4">معرفی محصول :</label>
                                        <div class="col-md-9 mb-4">
                                            <textarea ID="description" class="content" name="description">{% if product.description %}{{product.description|safe}}{% else %}
توضیحات محصول:
در این بخش مشخصات محصول خود را در چند پاراگراف کوتاه و ساده شرح دهید.{% endif %}</textarea>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <label class="col-md-3 form-label mb-4">ویژگی‌‌های محصول :</label>
                                        <div class="col-md-9 mb-4">
                                            <textarea class="form-control" rows="6" name="features">
{% if product.features %}{{product.features|safe}}{% else %}
ویژگی‌های شاخص محصول را به این صورت وارد کنید:
1. عنوان ویژگی اول: مقدار ویژگی اول
2. عنوان ویژگی دوم: مقدار ویژگی دوم
3. و الی آخر...{% endif %}
                                            </textarea>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <label class="col-md-3 form-label mb-4">تگ‌های محصول :</label>
                                        <div class="col-md-9 mb-4">
                                            <textarea class="form-control" rows="6" name="tags">{% for tag in product.tags.all %}{{ tag }}{% endfor %}</textarea>
                                        </div>
                                    </div>

                                    

                                    

                                    

                                    <!--Row-->
                                    <!-- <div class="row">
                                        <label class="col-md-3 form-label mb-4">بارگذاری محصول :</label>
                                        <div class="col-md-9">
                                            <input accept=".jpg, .png, image/jpeg, image/png" id="demo" multiple
                                                name="files" type="file">
                                        </div>
                                    </div> -->
                                    <!--End Row-->
                                </div>

                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="container-login100-form-btn">
                                            <button type="submit" class="login100-form-btn btn-primary">ثبت تغییرات</button>    
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">تصاویر محصول</div>
                            </div>
                            <form method="post" action="{% url 'shop:product_image_upload' product.id %}" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="card-body">
                                    <input name="alt_name" class="form-control" placeholder="نام جایگزین تصویر" type="text">
                                    <div><br></div>
                                    
                                    <input name="images" class="form-control" id="formFileMultiple" multiple type="file" >
                                    <div>
                                        <p>لطفا برای نمایش بهتر تصاویر از تصاویر با نسبت ابعاد ۱×۱ استفاده نمایید</p>
                                    </div>
                                </div>

                                <div class="card-header">
                                    <h3 class="card-title">گالری تصاویر محصول</h3>
                                </div>
                                <div class="card-body">
                                    <div class="text-wrap">
                                        {% for image in images %}
                                        <div class="file-image-1">
                                                <img alt="" class="br-5" src="{{image.image.url}}">
                                            <ul class="icons">
                                                <li><a class="btn bg-danger" href="{% url 'shop:product_image_delete' product.id image.id %}"><i
                                                        class="fe fe-trash"></i></a></li>
                                                
                                                <li><a class="btn bg-primary" href="{{image.image.url}}"><i
                                                        class="fe fe-eye"></i></a></li>
                                            </ul>
                                            <span class="">{{image.alt_name}}</span>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="container-login100-form-btn">
                                            <button type="submit" class="login100-form-btn btn-primary">ثبت تصاویر</button>    
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">تنوع محصول</div>
                            </div>
                            <form method="post" action="{% url 'shop:add_variety' product.id %}" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6 mb-0">
                                            <div class="form-group">
                                                <input name="name" class="form-control" id="city" placeholder="عنوان تنوع" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6 mb-0">
                                            <div class="form-group">
                                                <input name="stock" class="form-control" id="postal" placeholder="موجودی انبار"
                                                       type="number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-footer mt-2">
                                        <button type="submit" class="login100-form-btn btn-primary">افزودن تنوع</button>
                                    </div>
                                    <div><br></div>
                                </div>
                            </form>

                                <div class="card-header">
                                        <h3 class="card-title">موجودی تنوع‌ها</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-vcenter">
                                                <thead>
                                                <tr class="border-top">
                                                    <th>تنوع</th>
                                                    <th>موجودی</th>                                                   
                                                    <th>عملیات</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    {% for variety in varieties %}
                                                        <tr>
                                                            <form method="post" action="{% url update_variety_url product.id variety.id %}">
                                                                {% csrf_token %}
                                                                <td>{{variety.name}}</td>
                                                                <td>
                                                                    <div class="handle-counter" id="handleCounter4">
                                                                        <button class="counter-minus btn btn-white lh-2 shadow-none"
                                                                                type="button">
                                                                            <i class="fa fa-minus text-muted"></i>
                                                                        </button>
                                                                        
                                                                        <input name="stock" class="qty" type="number" value="{{variety.stock}}">
                                                                        <button class="counter-plus btn btn-white lh-2 shadow-none"
                                                                                type="button">
                                                                            <i class="fa fa-plus text-muted"></i>
                                                                        </button>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class=" d-flex g-2">
                                                                        <button type="submit" class="login100-form-btn btn-primary">ذخیره</button> 
                                                                        
                                                                        <a href="{% url delete_variety_url product.id variety.id %}" class="btn text-danger bg-danger-transparent btn-icon py-1"
                                                                        data-bs-original-title="حذف" data-bs-toggle="tooltip"><span
                                                                                class="bi bi-trash fs-16"></span></a>
                                                                    </div>
                                                                </td>
                                                            </form>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                
                                

                            </form>
                        </div>
                    </div>


                    <!-- افزودن فیلترهای محصول -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">فیلترهای جستجوی محصول</div>
                            </div>
                            <form method="post" action="{% url 'shop:asign_filter' product.id %}">
                                {% csrf_token %}
                    
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6 mb-0">
                                            <div class="form-group">
                                                <select name="filter" class="form-control select2-show-search form-select" id="select-beast1">
                                                    <option value="0">انتخاب</option>
                                                    {% for filter in filters %}
                                                    {% if filter.category in product.category.all %}
                                                        <li><option value="{{ filter.name }}">{{ filter.name }} در دسته‌ی {{filter.category.name}}</option></li>
                                                    {% endif %}
                                                    {% endfor %}
                                            </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6 mb-0">
                                            <div class="form-group">
                                                <input name="value" class="form-control" id="postal" placeholder="عنوان فیلتر"
                                                       type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-footer mt-2">
                                        <button type="submit" class="login100-form-btn btn-primary">افزودن فیلتر جدید</button>
                                    </div>
                                    <div><br></div>
                                </div>
                            </form>

                                <div class="card-header">
                                        <h3 class="card-title">فیلترهای فعال</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-vcenter">
                                                <thead>
                                                <tr class="border-top">
                                                    <th>سایز</th>
                                                    <th>موجودی</th>                                                   
                                                    <th>عملیات</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    {% for filter_value in filter_values %}

                                                        <tr>
                                                            
                                                                <td>
                                                                    {% for filter in filters %}
                                                                    {% if filter_value in filter.value.all %}
                                                                        {{filter.name}}
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                </td>
                                                                <td>{{filter_value.value}}</td>
                                                                <td>
                                                                   <a href="{% url 'shop:delete_filter_value' product.id filter_value.id %}" class="btn text-danger bg-danger-transparent btn-icon py-1"
                                                                    data-bs-original-title="حذف" data-bs-toggle="tooltip"><span
                                                                    class="bi bi-trash fs-16"></span></a>
                                                                </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                
                                

                            </form>
                        </div>
                    </div>
                    <!-- ویرایش متاتگ‌ها -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">ویرایش متاتگ‌ها</h3>
                            </div>
                            <div class="card-body">
                                <form method="post" action="{% url 'shop:edit_product_meta_tags' product.slug %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label for="exampleInputname">Meta Description</label>
                                            <input class="form-control" name="meta_description" rows="6" id="exampleInputname" value="{{product.meta_description}}"
                                                    type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label for="exampleInputname1">Meta Keywords</label>
                                            <input class="form-control" name="meta_keywords" id="exampleInputname1" value="{{product.meta_keywords}}"
                                                    type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label for="exampleInputname1">Open Graph Title</label>
                                            <input class="form-control" name="meta_og_title" id="exampleInputname1" value="{{product.meta_og_title}}"
                                                    type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label for="exampleInputname1">Open Graph Description</label>
                                            <input class="form-control" name="meta_og_description" id="exampleInputname1" value="{{product.meta_og_description}}"
                                                    type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label for="exampleInputname1">Twitter Card Tilte</label>
                                            <input class="form-control" name="meta_tc_title" id="exampleInputname1" value="{{product.meta_tc_title}}"
                                                    type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label for="exampleInputname1">Twitter Card Description</label>
                                            <input class="form-control" name="meta_tc_description" id="exampleInputname1" value="{{product.meta_tc_description}}"
                                                    type="text">
                                        </div>
                                    </div>
                                </div>                          
                                
                            </div>
                            <div class="card-footer text-end">
                                <button type="submit" class="btn btn-success my-1" href="javascript:void(0)">بروزرسانی متاتگ‌ها</button>
                            </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-- /ROW-1 CLOSED -->
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
    </div>
{% endblock %}


{% block js %}
<script src="{% static 'assets/plugins/select2/select2.full.min.js' %}"></script>
<script src="{% static 'assets/js/select2.js' %}"></script>
<script src="{% static 'assets/plugins/multipleselect/multiple-select.js' %}"></script>
<script src="{% static 'assets/plugins/multipleselect/multi-select.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/plugins/wysiwyag/jquery.richtext.js' %} "></script>
<script src="{% static 'assets/plugins/wysiwyag/wysiwyag.js' %} "></script>
<script src="{% static 'assets/js/handlecounter.js' %}"></script>

{% endblock %}

