{% extends "base_2.html" %}
{% load static %}

{% block meta %}
<meta charset="UTF-8">
<meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="description" content="{{ store.meta_description }}">
<meta content="PicoSite" name="author">
<meta name="keywords" content="{{store.meta_keywords}}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{store.get_canonical}}">

<!-- Open Graph tags -->
<meta property="og:title" content="{{store.meta_og_title}}">
<meta property="og:description" content="{{meta_og_description}}">
<meta property="og:image" content="{{store.get_logo_image}}" rel="shortcut icon" type="image/x-icon">
<meta property="og:url" content="{{store.get_canonical}}">
<meta property="og:type" content="website">

<!-- Twitter Card tags -->
<meta name="twitter:card" content="Summary Card with Large Image">
<meta name="twitter:title" content="{{store.meta_tc_title}}">
<meta name="twitter:description" content="{{store.meta_tc_description}}">
<meta name="twitter:image" content="{{store.get_logo_image}}">
{% endblock %}

{% block title %}درباره ما{% endblock %}

{% block content %}

{% if store.has_domain == True %}
<script>
    // Replace the common part of the URL with an empty string
    var currentUrl = window.location.href;
    var newUrl = currentUrl.replace('/shop/{{store.name}}/', '/');
    history.replaceState(null, null, newUrl);
</script>
{% endif %}

<div class="content">
    <div class="container-fluid">
        <div class="cart-empty">
            <div class="content-box">
                <div class="container-fluid">
                    <div class="cart-empty-image text-center">
                        <img src="{% static 'assets3/img/mini_cart-empty.png' %}" width="300" alt="">
                    </div>
                    <div class="cart-empty-title">
                        <h2 class="text-center title-font">
                            سبد خرید شما خالی میباشد
                        </h2>
                        <div class="text-center mt-3">
                            <a href="{% url 'shop:product_list' %}" class="btn main-color-one-outline rounded-pill px-4">رفتن به فروشگاه</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<!-- end content -->

{% endblock %}