{% extends "base.html" %}
{% load static %}
{% block title %}{{ store.index_title }}{% endblock %}
{% load humanize %}
{% block meta %}
<meta charset="UTF-8">
<meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="description" content="{{ store.meta_description }}">
<meta content="PicoSite" name="author">
<meta name="keywords" content="{{store.meta_keywords}}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{store.get_canonical}}">

<!-- Open Graph tags -->
<meta property="og:title" content="{{store.meta_og_title}}">
<meta property="og:description" content="{{meta_og_description}}">
<meta property="og:image" content="{{store.get_logo_image}}" rel="shortcut icon" type="image/x-icon">
<meta property="og:url" content="{{store.get_canonical}}">
<meta property="og:type" content="website">

<!-- Twitter Card tags -->
<meta name="twitter:card" content="Summary Card with Large Image">
<meta name="twitter:title" content="{{store.meta_tc_title}}">
<meta name="twitter:description" content="{{store.meta_tc_description}}">
<meta name="twitter:image" content="{{store.get_logo_image}}">
{% endblock %}

{% block content %}
    

{% if store.has_domain == True %}
<script>
    // Replace the common part of the URL with an empty string
    var currentUrl = window.location.href;
    var newUrl = currentUrl.replace('/shop/{{store.name}}/', '/');
    history.replaceState(null, null, newUrl);
</script>
{% endif %}

<div class="main-content app-content mt-5">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            
            <!-- PAGE-HEADER END -->

            <!-- ROW-1 OPEN -->
            <div class="row">
                
                <div class="col-lg-12 col-xl-12">
                    <div class="card">
                        
                            <div class="carousel slide" data-bs-ride="carousel" id="carousel-controls">
                                <div class="carousel-inner">
                                    {% for slide in slides %}
                                        {% if slide.index == 1 %}
                                            <div class="carousel-item active">
                                                <a href="{% url 'shop:featured_products' slide.source %}"><img alt="" class="d-block w-100 br-5"
                                                    data-bs-holder-rendered="true" src="{{slide.image.url}}" ></a>
                                            </div>
                                        {% else %}
                                            <div class="carousel-item">
                                                <a href="{% url 'shop:featured_products' slide.source %}"><img alt="" class="d-block w-100 br-5"
                                                    data-bs-holder-rendered="true" src="{{slide.image.url}}" ></a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    
                                    
                                </div>
                                <a class="carousel-control-prev" data-bs-slide="prev" href="#carousel-controls"
                                   role="button">
                                    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                                    <span class="sr-only">قبلی</span>
                                </a>
                                <a class="carousel-control-next" data-bs-slide="next" href="#carousel-controls"
                                   role="button">
                                    <span aria-hidden="true" class="carousel-control-next-icon"></span>
                                    <span class="sr-only">بعدی</span>
                                </a>
                            </div>
                    </div>
                </div>
                
            </div>
            <!-- ROW-1 CLOSED -->
            

            <!-- Row 2 Opened -->
            <!-- <div class="row ">
            <div class="col-xl-12 col-md-12">
                <div class="card ">
                    <div class="card-header">
                        <div class="card-title">خدمات مشتری</div>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="customer-services mb-2 bg-primary-transparent">
                                    <div class="icon-content">
                                        <span><i class="bi bi-truck"></i></span>
                                        <h4>ارسال آسان</h4>
                                    </div>
                                    <p>{{services.delivery}}</p>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="customer-services mb-2 bg-primary-transparent">
                                    <div class="icon-content">
                                        <span><i class="bi bi-arrow-repeat"></i></span>
                                        <h4>تضمین اصالت و سلامت</h4>
                                    </div>
                                    <p>{{services.originality}}</p>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="customer-services mb-2 bg-primary-transparent">
                                    <div class="icon-content">
                                        <span><i class="bi bi-credit-card-2-front"></i></span>
                                        <h4>پرداخت آسان و مطمئن</h4>
                                    </div>
                                    <p>{{services.payments}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div> -->

            <!-- Row 2 Closed -->

            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <div class="card custom-card bg-primary-transparent">
                        <div class="card-header">
                            <div class="card-title">دسته‌بندی‌های شاخص</div>
                        </div>

                        <div class="card-body mb-5 text-center">
                            
                            <ul class="">
                                {% for f_cat in featured_categories.categories.all|slice:":8" %}
                                <a  href="{% url 'shop:category_products' f_cat.slug %}"><img
                                    alt="img" class="br-5 m-1" src="{{f_cat.get_image_url}}" width="140"></a>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Row 4 Opened -->
            <div class="row">
                {% for banner in small_banners %}
                    <div class="col-md-6  col-xl-6">
                        <a class="thumbnail " href="{% url 'shop:featured_products' banner.source %}">
                            <img alt="thumb1" class="thumbimg"
                                src="{{banner.image.url}}">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <!-- Row 4 Closed -->

            <!-- Row 3 Opened -->
            <div class="card custom-card bg-primary-transparent card-transparent">
                <!-- attention -->
                 
                <div class="card-header mt-5">
                    <div class="btn-list">
                        <a class="btn btn-primary" href=""><i
                                class="me-1"></i>جدیدترین محصولات</a>
                        <a class="btn btn-success float-sm-end" href="{% url 'shop:product_list' %}">مشاهده‌ی همه<i
                                class="fa fa-arrow-left ms-1"></i></a>
                    </div>
                </div>
                <div class="card-body pt-0 h-100 mt-4">
                    <div class="owl-carousel owl-carousel-icons2">
                        {% for product in products %}
                        <div class="item">
                            <div class="col-md-12 col-xl-12 col-sm-12">
                                <div class="card">
                                    <div class="product-grid6">
                                        <div class="product-image6 p-1">
                                            <ul class="icons">
                                                <li>
                                                    <a class="btn btn-primary" href="{% url 'shop:product_detail' product.slug %}">
                                                        <i class="fe fe-eye"> </i> </a>
                                                </li>
                                                <li><a class="btn btn-danger" href="{% url 'shop:add_to_favorites' product_id=product.id ref='index' %}"><i
                                                        class="fe fe-heart"></i></a></li>
                                            </ul>
                                            <a href="{% url to_products product.slug %}">
                                                <img alt="img"
                                                     class="img-fluid br-2 w-100" src="{{product.get_main_image}}">
                                            </a>
                                        </div>
                                        <div class="card-body pt-0">
                                            <div class="product-content text-center">
                                                <h1 class="title fw-bold fs-14"><a
                                                        href="{% url to_products  product.slug %}">{{ product.name }}</a>
                                                </h1>
                                                <div class="mb-2 text-warning">
                                                    <i class="fa fa-star text-warning"></i>
                                                    <i class="fa fa-star text-warning"></i>
                                                    <i class="fa fa-star text-warning"></i>
                                                    <i class="fa fa-star-half-o text-warning"></i>
                                                    <i class="fa fa-star-o text-warning"></i>
                                                </div>
                                                {% if product.off_active == True %}
                                                    <div class="price">{{product.sales_price|intcomma}} تومان
                                                         <p class="text-danger">
                                                            <del>{{ product.price|intcomma }} تومان</del>
                                                        </p>
                                                    </div>
                                                    {% else %}
                                                    <div class="price">{{ product.price|intcomma }} تومان
                                                        <p class="text-white">{{ product.price|intcomma }} تومان</p>
                                                    </div>
                                                    {% endif %}
                                            </div>
                                        </div>
                                        <div class="card-footer text-center">
                                            <a class="btn btn-primary mb-1" href="{% url to_products product.slug %}"><i
                                                    class="fe fe-shopping-cart mx-2"></i>جزییات محصول</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Row 3 Closed -->
            
            

            
            <div class="advert d-lg-block advert-under-slider mb-5">
                    <div class="row gx-0 gy-4">
                        {% for banner in big_banners %}
                        <div class="col-lg-12">
                            <div class="advert-item">
                                <a href="{% url 'shop:featured_products' banner.source %}">
                                    <img alt="" src="{{banner.image.url}}" style="object-fit: cover">
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                        
                </div>
            </div>
            <!-- Row 5 Opened -->
            <div class="card custom-card bg-primary-transparent card-transparent">
                <!-- attention -->
                 
                <div class="card-header mt-5">
                    <div class="btn-list">
                        <a class="btn btn-primary" href=""><i
                                class="me-1"></i>پربازدیدترین محصولات</a>
                        <a class="btn btn-success float-sm-end" href="{% url 'shop:product_list' %}">مشاهده‌ی همه<i
                                class="fa fa-arrow-left ms-1"></i></a>
                    </div>
                </div>
                <div class="card-body pt-2 h-100 mt-4">
                    <div class="owl-carousel owl-carousel-icons2">
                        {% for product in products|dictsortreversed:"views" %}
                        <div class="item">
                            <div class="col-md-12 col-xl-12 col-sm-12">
                                <div class="card">
                                    <div class="product-grid6">
                                        <div class="product-image6 p-1">
                                            <ul class="icons">
                                                <li>
                                                    <a class="btn btn-primary" href="{% url 'shop:product_detail'  product.slug %}">
                                                        <i class="fe fe-eye"> </i> </a>
                                                </li>
                                                <li><a class="btn btn-danger" href="{% url 'shop:add_to_favorites' product_id=product.id ref='index' %}"><i
                                                        class="fe fe-heart"></i></a></li>
                                            </ul>
                                            <a href="{% url to_products  product.slug %}">
                                                <img alt="img"
                                                     class="img-fluid br-7 w-100" src="{{product.get_main_image}}">
                                            </a>
                                        </div>
                                        <div class="card-body pt-0">
                                            <div class="product-content text-center">
                                                <h1 class="title fw-bold fs-16"><a
                                                        href="{% url to_products product.slug %}">{{ product.name }}</a>
                                                </h1>
                                                <div class="mb-2 text-warning">
                                                    <i class="fa fa-star text-warning"></i>
                                                    <i class="fa fa-star text-warning"></i>
                                                    <i class="fa fa-star text-warning"></i>
                                                    <i class="fa fa-star-half-o text-warning"></i>
                                                    <i class="fa fa-star-o text-warning"></i>
                                                </div>
                                                {% if product.off_active == True %}
                                                    <div class="price">{{product.sales_price|intcomma}} تومان
                                                         <p class="text-danger">
                                                            <del>{{ product.price|intcomma }} تومان</del>
                                                        </p>
                                                    </div>
                                                    {% else %}
                                                    <div class="price">{{ product.price|intcomma }} تومان
                                                        <p class="text-white">{{ product.price|intcomma }} تومان</p>
                                                    </div>
                                                    {% endif %}
                                            </div>
                                        </div>
                                        <div class="card-footer text-center">
                                            <a class="btn btn-primary mb-1" href="{% url to_products product.slug %}"><i
                                                    class="fe fe-shopping-cart mx-2"></i>جزییات محصول</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Row 5 Closed -->

            <!-- Row 6 Opened -->
            <div class="card custom-card">
                <div class="card-header">
                    <div class="btn-list">
                        <a class="btn btn-primary" href="shop.html"><i
                                class="me-1"></i>آخرین اخبار</a>
                        <a class="btn btn-success float-sm-end" href="{% url 'shop:post_list' %}">مشاهده‌ی همه<i
                                class="fa fa-arrow-left ms-1"></i></a>
                    </div>
                </div>
                <div class="card-body pt-2 h-100">
                    <div class="row">
                    {% for post in posts|slice:":4" %}
                    <div class="col-xl-3 col-md-12">
                        <div class="card overflow-hidden">
                            <a href="{% url 'shop:post_detail' post.slug %}"><img alt="img" class="card-img-top" src="{{post.get_thumbnail}}"></a>
                            <div class="card-body">
                                <a href="{% url 'shop:post_detail' post.slug %}"><h5 class="card-title">{{ post.title|truncatewords:10 }}</h5></a>
                                
                                <a class="btn btn-primary mt-4" href="{% url 'shop:post_detail' post.slug %}">مشاهده جزییات</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Row 6 Closed -->
       </div>
        <!-- CONTAINER CLOSED -->
    </div>
</div>
    




    
{% endblock %}

{% block js %}

<!-- attention -->
<script src="{% static 'assets/plugins/company-slider/slider.js' %}"></script>
<!-- <script src="{% static 'assets/js/themeColors.js' %}"></script> -->
<script src="{% static 'assets/plugins/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/owl-carousel.js' %}"></script>
<script src="{% static 'assets/js/landing.js' %}"></script>


{% endblock %}

