{% load static %}
<!doctype html>
<html dir="rtl" lang="fa-IR">

<head>

    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="description" content="پیکوسایت بهترین سایت ساز و فروشگاه ساز آنلاین رایگان در ایران. با استفاده از سایت ساز پیکو سایت شما می‌توانید در کمتر از دو دقیقه سایت فروشگاهی حرفه‌ای داشته باشید.">
    <meta content="PicoSite" name="author">
    <meta name="keywords" content="سایت ساز رایگان, فروشگاه ساز رایگان, سایت ساز پیکوسایت,سایت ساز پیکو سایت,فروشگاه ساز پیکو سایت,طراحی سایت فروشگاهی,طراحی سایت رایگان,فروشگاه ساز آنلاین">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://picosite.ir">

    <!-- Open Graph tags -->
    <meta property="og:title" content="پیکوسایت فروشگاه ساز رایگان">
    <meta property="og:description" content="Your Open Graph description here">
    <meta property="og:image" content="https://marketplace-bucket.storage.iran.liara.space/%D9%81%D8%A7%D9%88%D8%A2%DB%8C%DA%A9%D9%88%D9%86%20%D9%BE%DB%8C%DA%A9%D9%88%D8%B3%D8%A7%DB%8C%D8%AA.png" rel="shortcut icon" type="image/x-icon">
    <meta property="og:url" content="https://picosite.ir">
    <meta property="og:type" content="website">

    <!-- Twitter Card tags -->
    <meta name="twitter:card" content="Summary Card with Large Image">
    <meta name="twitter:title" content="پیکوسایت، فروشگاه ساز رایگان">
    <meta name="twitter:description" content="با استفاده از پیکوسایت شما می‌توانید سایت فروشگاهی خودتان را در کمتر از دو دقیقه به رایگان راه اندازی نمایید">
    <meta name="twitter:image" content="https://marketplace-bucket.storage.iran.liara.space/%D8%A7%D8%B3%D9%84%D8%A7%DB%8C%D8%AF%20%D8%A7%D9%88%D9%84%20%D9%BE%DB%8C%DA%A9%D9%88%D8%B3%D8%A7%DB%8C%D8%AA.jpg">

    <!-- FAVICON -->
    <link href="https://marketplace-bucket.storage.iran.liara.space/%D9%81%D8%A7%D9%88%D8%A2%DB%8C%DA%A9%D9%88%D9%86%20%D9%BE%DB%8C%DA%A9%D9%88%D8%B3%D8%A7%DB%8C%D8%AA.png" rel="shortcut icon" type="image/x-icon"/>

    <!-- TITLE -->
    <title>راه‌اندازی فروشگاه جدید</title>

    <!-- BOOTSTRAP CSS -->
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" id="style" rel="stylesheet"/>

    <!-- STYLE CSS -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/plugins.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/dark-style.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/transparent-style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/skin-modes.css' %}" rel="stylesheet"/>

    <!--- FONT-ICONS CSS -->
    <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet"/>

    <!-- COLOR SKIN CSS -->
    <link href="{% static 'assets/colors/color1.css' %}" id="theme" media="all" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/switcher/css/switcher.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/switcher/demo.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/fonts/styles-fa-num/iran-yekan.css' %}" id="fonts" rel="stylesheet">
    <link href="{% static 'assets/css/rtl.css' %}" rel="stylesheet"/>
</head>

<body class="app sidebar-mini rtl login-img">

<!-- BACKGROUND-IMAGE -->
<div class="">

    <!-- GLOABAL LOADER -->
    <div id="global-loader">
        <img alt="Loader" class="loader-img" src="{% static 'assets/images/loader.svg' %}">
    </div>
    <!-- /GLOABAL LOADER -->

    <!-- PAGE -->
    <div class="page">
        <div class="">

            <!-- CONTAINER OPEN -->
            <div class="col col-login mx-auto mt-7">
                <div class="text-center">
                    <img alt="" class="header-brand-img m-0" src="https://marketplace-bucket.storage.iran.liara.space/%D9%81%D8%A7%D9%88%D8%A2%DB%8C%DA%A9%D9%88%D9%86%20%D9%BE%DB%8C%DA%A9%D9%88%D8%B3%D8%A7%DB%8C%D8%AA.png" height="85">
                </div>
            </div>
            <div class="container-login100">
                <div class="wrap-login100 p-6">
                    <form method="post" class="login100-form validate-form" onsubmit="return validateForm()">
                        {% csrf_token %}
                            <span class="login100-form-title">
									ثبت نام
								</span>
                        <div class="wrap-input100 validate-input input-group"
                             data-bs-validate="ایمیل معتبر لازم است: ex@abc.xyz">
                            <a class="input-group-text bg-white text-muted" href="javascript:void(0)">
                                <i aria-hidden="true" class="fe fe-shopping-bag"></i>
                            </a>
                            <input name="site_name" class="input100 border-start-0 ms-0 form-control" placeholder=" عنوان فروشگاه"
                                   type="text">
                                   
                        </div>
                        <p>نام فروشگاه خود را به فارسی وارد کنید. مثلا: فروشگاه پیکوسایت</p>
                        <div class="wrap-input100 validate-input input-group"
                             data-bs-validate="ایمیل معتبر لازم است: ex@abc.xyz">
                            <a class="input-group-text bg-white text-muted" href="javascript:void(0)">
                                <i aria-hidden="true" class="fe fe-edit"></i>
                            </a>
                            <input name="recommender" class="input100 border-start-0 ms-0 form-control" placeholder="کد معرف" type="text">
                        </div>
                        <select name="store_field" class="form-control form-select select2" id="select-beast"
                        name="beast">
                        <option value="0">حوزه کاری فروشگاه</option>
                            <li>
                                <option value="1">مد و پوشاک</option>
                                <option value="2">عطر و ادکلن</option>
                                <option value="3">آرایشی بهداشتی</option>
                                <option value="4">اسباب بازی و کودک</option>
                                <option value="5">فرهنگ، هنر و جشن</option>
                                <!-- <option value="5">هدیه و ملزومات جشن</option>
                                <option value="6">فرهنگ و هنر</option> -->
                                <option value="7">سایر موارد</option>
                            </li>
                        </select>
                        <label class="custom-control custom-checkbox mt-4">
                            <input class="custom-control-input" type="checkbox" id="myCheckbox">
                            <span class="custom-control-label">موافقت با <a href="{% url 'rules_and_policies' %}">شرایط و خط مشی</a></span>
                        </label>
                        <div class="container-login100-form-btn">
                            <button type="submit" class="login100-form-btn btn-primary">ثبت نام</button>
                            <p>{{ message }}</p>
                        
                            
                        </div>
                        
                        
                        
                    </form>
                    <script>
                        function validateForm() {
                            var checkbox = document.getElementById('myCheckbox');
                            
                            if (checkbox.checked) {
                                // Checkbox is checked, allow form submission
                                return true;
                            } else {
                                // Checkbox is not checked, prevent form submission
                                alert('شما باید قوانین و مقررات استفاده از پیکوسایت را تایید نمایید.');
                                return false;
                            }
                        }
                        </script>
                </div>
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
    </div>
    <!-- END PAGE -->

</div>
<!-- BACKGROUND-IMAGE CLOSED -->

<!-- JQUERY JS -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>

<!-- BOOTSTRAP JS -->
<script src="{% static 'assets/plugins/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- SHOW PASSWORD JS -->
<script src="{% static 'assets/js/show-password.min.js' %}"></script>

<!-- Perfect SCROLLBAR JS-->
<script src="{% static 'assets/plugins/p-scroll/perfect-scrollbar.js' %}"></script>

<!-- Color Theme js -->
<script src="{% static 'assets/js/themeColors.js' %}"></script>

<!-- CUSTOM JS -->
<script src="{% static 'assets/js/custom.js' %}"></script>

<!-- Custom-switcher -->
<script src="{% static 'assets/js/custom-swicher.js' %}"></script>

<!-- Switcher js -->
<script src="{% static 'assets/switcher/js/switcher.js' %}"></script>

<!-- MULTI SELECT JS-->
<script src="{% static 'assets/plugins/multipleselect/multiple-select.js' %}"></script>
<script src="{% static 'assets/plugins/multipleselect/multi-select.js' %}"></script>

<!-- Perfect SCROLLBAR JS-->
<script src="{% static 'assets/plugins/p-scroll/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/plugins/p-scroll/pscroll.js' %}"></script>
<script src="{% static 'assets/plugins/p-scroll/pscroll-1.js' %}"></script>

<!-- SIDE-MENU JS -->
<script src="{% static 'assets/plugins/sidemenu/sidemenu.js' %}"></script>

<!-- SIDEBAR JS -->
<script src="{% static 'assets/plugins/sidebar/sidebar.js' %}"></script>

<!-- FORMELEMENTS JS -->
<script src="{% static 'assets/js/formelementadvnced.js' %}"></script>
<script src="{% static 'assets/js/form-elements.js' %}"></script>
<script src="{% static 'assets/plugins/select2/select2.full.min.js' %}"></script>
<script src="{% static 'assets/js/select2.js' %}"></script>

<!-- BOOTSTRAP-DATERANGEPICKER JS -->
<script src="{% static 'assets/plugins/bootstrap-daterangepicker/moment.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

<!-- INTERNAL Bootstrap-Datepicker js-->
<script src="{% static 'assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'assets/plugins/persian-date-picker/bootstrap-datepicker.min.js' %}"></script>
<!-- INTERNAL Sumoselect js-->
<script src="{% static 'assets/plugins/sumoselect/jquery.sumoselect.js' %}"></script>

<!-- TIMEPICKER JS -->
<script src="{% static 'assets/plugins/time-picker/jquery.timepicker.js' %}"></script>
<script src="{% static 'assets/plugins/time-picker/toggles.min.js' %}"></script>

<!-- INTERNAL intlTelInput js-->
<script src="{% static 'assets/plugins/intl-tel-input-master/intlTelInput.js' %}"></script>
<script src="{% static 'assets/plugins/intl-tel-input-master/country-select.js' %}"></script>
<script src="{% static 'assets/plugins/intl-tel-input-master/utils.js' %}"></script>

<!-- INTERNAL jquery transfer js-->
<script src="{% static 'assets/plugins/jQuerytransfer/jquery.transfer.js' %}"></script>

<!-- INTERNAL multi js-->
<script src="{% static 'assets/plugins/multi/multi.min.js' %}"></script>

</body>


</html>