{% extends "base.html" %}
{% load static %}

{% block meta %}
<meta charset="UTF-8">
<meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="description" content="{{ store.meta_description }}">
<meta content="PicoSite" name="author">
<meta name="keywords" content="{{store.meta_keywords}}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{store.get_canonical}}">

<!-- Open Graph tags -->
<meta property="og:title" content="{{store.meta_og_title}}">
<meta property="og:description" content="{{meta_og_description}}">
<meta property="og:image" content="{{store.get_logo_image}}" rel="shortcut icon" type="image/x-icon">
<meta property="og:url" content="{{store.get_canonical}}">
<meta property="og:type" content="website">

<!-- Twitter Card tags -->
<meta name="twitter:card" content="Summary Card with Large Image">
<meta name="twitter:title" content="{{store.meta_tc_title}}">
<meta name="twitter:description" content="{{store.meta_tc_description}}">
<meta name="twitter:image" content="{{store.get_logo_image}}">
{% endblock %}

{% block title %}پنل فروشندگی{% endblock %}
{% block content %}

<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">داشبورد فروشندگی</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">فروشگاه</a></li>
                        <li aria-current="page" class="breadcrumb-item active">داشبورد فروشندگی</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->

            <!-- Row -->
            <div class="row">
                <div class="col-xl-3">
                    <div class="position-lg-relative w-100" id="scroll-stickybar">
                        <div class="card">
                            <div class="list-group list-group-transparent mb-0 mail-inbox pb-3">
                                <div class="mt-4 mx-4 mb-4 text-center">
                                    <a class="btn btn-primary btn-lg d-grid" href="{% url 'shop:index' store_name %}">مشاهده فروشگاه</a>
                                </div>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard' store_name %}">
                                    <span class="icons"><i class="fa fa-bars"></i></span>داشبورد
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4 {% if store.has_notif == True %}text-danger{% endif %}"
                                href="{% url 'shop:owner_dashboard_announcements' store_name %}">
                                    <span class="icons"><i class="fa fa-fa fa-bell {% if store.has_notif == True %}text-danger{% endif %}"></i></span> اطلاعیه‌ها
                                </a>
                                <a class="list-group-item d-flex align-items-center  mx-4"
                                   href="{% url 'shop:owner_dashboard_orders' store_name %}">
                                    <span class="icons"><i class="fa fa-shopping-bag"></i></span>سفارشات                                
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_products' store_name %}">
                                    <span class="icons"><i class="fa fa-cubes"></i></span> محصولات 
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_categories' store_name %}">
                                    <span class="icons"><i class="fa fa-th-large"></i></span> دسته‌بندی‌ها
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_filters' store_name %}">
                                    <span class="icons"><i class="fa fa-filter"></i></span> فیلترها 
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_edit_home' store_name %}">
                                    <span class="icons"><i class="fa fa-home"></i></span> نمای صفحه خانه
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_customers' store_name %}">
                                    <span class="icons"><i class="fa fa-user"></i></span> مشتریان
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_messages' store_name %}">
                                    <span class="icons"><i class="fa fa-envelope"></i></span> پیام‌ها
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_comments' store_name %}">
                                    <span class="icons"><i class="fa fa-comment"></i></span> دیدگاه‌ها
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_delivery' store_name %}">
                                    <span class="icons"><i class="fa fa-truck"></i></span> رویه‌های ارسال
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_coupons' store_name %}">
                                    <span class="icons"><i class="fa fa-usd"></i></span> کوپن‌های تخفیف
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_store_update' store_name %}">
                                    <span class="icons"><i class="fa fa-gear"></i></span> تنظیمات فروشگاه
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_blog' store_name %}">
                                    <span class="icons"><i class="fa fa-th"></i></span> وبلاگ
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_blog_category' store_name %}">
                                    <span class="icons"><i class="fa fa-th-list"></i></span> دسته‌بندی‌های پست‌ها
                                </a>
                                <a class="list-group-item d-flex align-items-center active mx-4"
                                   href="{% url 'shop:faq_create' store_name %}">
                                    <span class="icons"><i class="fa fa-question"></i></span> سوالات متداول
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_policies' store_name %}">
                                    <span class="icons"><i class="fa fa-info-circle"></i></span> قوانین و مقررات
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_finance' store_name %}">
                                    <span class="icons"><i class="fa fa-money"></i></span> مالی
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                href="{% url 'shop:owner_dashboard_tutorials' store_name %}">
                                <span class="icons"><i class="fa fa-laptop"></i></span> آموزشی
                            </a>
                            <a class="list-group-item d-flex align-items-center mx-4"
                               href="{% url 'shop:owner_dashboard_ticket_list' store_name %}">
                                <span class="icons"><i class="fa fa-comments"></i></span> تیکت‌ها
                            </a>
                            <a class="list-group-item d-flex align-items-center mx-4"
                               href="{% url 'shop:owner_dashboard_meta' store_name %}">
                                <span class="icons"><i class="fa fa-fa fa-google"></i></span> متاتگ‌ها
                            </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-9">
                    
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">ایجاد پرسش جدید</h3>
                </div>
                <div class="card-body">
                    
                    <div class="pt-4">
                        <form method="post" action="{% url 'shop:faq_create' store_name  %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input name="question" class="form-control" id="text-input" placeholder="متن پرسش"
                                   type="text">
                        </div>
                        <div class="form-group">
                            <textarea name="answer" class="form-control" name="example-textarea-input" placeholder="متن پاسخ"
                                      rows="6"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" href="javascript:void(0)">ایجاد سوال</button>
                    </form>
                    </div>
                </div>
            </div>


            <!-- Row-->
            <div class="row ">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">ویرایش سوالات و پاسخ‌ها</h3>
                            </div>
                            <div class="card-body">
                                {% for faq in faqs %}
                                <div class="pt-4">
                                    <form method="post" action="{% url 'shop:faq_update' store_name faq.id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input name="question" class="form-control" id="text-input" value="{{faq.question}}"
                                               type="text">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="answer" class="form-control" name="example-textarea-input" value="{{faq.answer}}"
                                                  rows="6">{{faq.answer}}</textarea>
                                    </div>
                                    <div class="card-footer">
                                        <div class="btn-list">
                                            <button type="submit" class="btn btn-primary" href="#"><i
                                                    class="fa fa-filter me-1"></i>ویرایش سوال</button>
                                            <a class="btn btn-success float-sm-end" href="{% url 'shop:faq_delete' store_name faq.id %}">حذف این سوال<i
                                                    class="fa fa-trash ms-1"></i></a>
                                        </div>
                                    </div>
                                </form>
                                </div>
                                {% endfor %}
                            </div>
                    </div>
                </div>
            </div>

                </div>
            </div>
            <!-- ROW-1 CLOSED -->
        </div>
        <!-- CONTAINER CLOSED -->

    </div>
</div>
<!--app-content closed-->
    
{% endblock %}