{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block meta %}
<meta charset="UTF-8">
<meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="description" content="{{ store.meta_description }}">
<meta content="PicoSite" name="author">
<meta name="keywords" content="{{store.meta_keywords}}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{store.get_canonical}}">

<!-- Open Graph tags -->
<meta property="og:title" content="{{store.meta_og_title}}">
<meta property="og:description" content="{{meta_og_description}}">
<meta property="og:image" content="{{store.get_logo_image}}" rel="shortcut icon" type="image/x-icon">
<meta property="og:url" content="{{store.get_canonical}}">
<meta property="og:type" content="website">

<!-- Twitter Card tags -->
<meta name="twitter:card" content="Summary Card with Large Image">
<meta name="twitter:title" content="{{store.meta_tc_title}}">
<meta name="twitter:description" content="{{store.meta_tc_description}}">
<meta name="twitter:image" content="{{store.get_logo_image}}">
{% endblock %}

{% block title %}پنل فروشندگی{% endblock %}
{% block content %}

<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">داشبورد فروشندگی</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">فروشگاه</a></li>
                        <li aria-current="page" class="breadcrumb-item active">داشبورد فروشندگی</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->

            <!-- Row -->
            <div class="row">
                <div class="col-xl-3">
                    <div class="position-lg-relative w-100" id="scroll-stickybar">
                        <div class="card">
                            <div class="list-group list-group-transparent mb-0 mail-inbox pb-3">
                                <div class="mt-4 mx-4 mb-4 text-center">
                                    <a class="btn btn-primary btn-lg d-grid" href="{% url 'shop:index' store_name %}">مشاهده فروشگاه</a>
                                </div>
                                <a class="list-group-item d-flex align-items-center  mx-4"
                                   href="{% url 'shop:owner_dashboard' store_name %}">
                                    <span class="icons"><i class="fa fa-bars"></i></span>داشبورد
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4 {% if store.has_notif == True %}text-danger{% endif %}"
                                href="{% url 'shop:owner_dashboard_announcements' store_name %}">
                                    <span class="icons"><i class="fa fa-fa fa-bell {% if store.has_notif == True %}text-danger{% endif %}"></i></span> اطلاعیه‌ها
                                </a>
                                <a class="list-group-item d-flex align-items-center  mx-4"
                                   href="{% url 'shop:owner_dashboard_orders' store_name %}">
                                    <span class="icons"><i class="fa fa-shopping-bag"></i></span>سفارشات                                
                                </a>
                                <a class="list-group-item d-flex align-items-center active mx-4"
                                   href="{% url 'shop:owner_dashboard_products' store_name %}">
                                    <span class="icons"><i class="fa fa-cubes"></i></span> محصولات 
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_categories' store_name %}">
                                    <span class="icons"><i class="fa fa-th-large"></i></span> دسته‌بندی‌ها
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_filters' store_name %}">
                                    <span class="icons"><i class="fa fa-filter"></i></span> فیلترها 
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_edit_home' store_name %}">
                                    <span class="icons"><i class="fa fa-home"></i></span> نمای صفحه خانه
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_customers' store_name %}">
                                    <span class="icons"><i class="fa fa-user"></i></span> مشتریان
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_messages' store_name %}">
                                    <span class="icons"><i class="fa fa-envelope"></i></span> پیام‌ها
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_comments' store_name %}">
                                    <span class="icons"><i class="fa fa-comment"></i></span> دیدگاه‌ها
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_delivery' store_name %}">
                                    <span class="icons"><i class="fa fa-truck"></i></span> رویه‌های ارسال
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_coupons' store_name %}">
                                    <span class="icons"><i class="fa fa-usd"></i></span> کوپن‌های تخفیف
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_store_update' store_name %}">
                                    <span class="icons"><i class="fa fa-gear"></i></span> تنظیمات فروشگاه
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_blog' store_name %}">
                                    <span class="icons"><i class="fa fa-th"></i></span> وبلاگ
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_blog_category' store_name %}">
                                    <span class="icons"><i class="fa fa-th-list"></i></span> دسته‌بندی‌های پست‌ها
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:faq_create' store_name %}">
                                    <span class="icons"><i class="fa fa-question"></i></span> سوالات متداول
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_policies' store_name %}">
                                    <span class="icons"><i class="fa fa-info-circle"></i></span> قوانین و مقررات
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                   href="{% url 'shop:owner_dashboard_finance' store_name %}">
                                    <span class="icons"><i class="fa fa-money"></i></span> مالی
                                </a>
                                <a class="list-group-item d-flex align-items-center mx-4"
                                href="{% url 'shop:owner_dashboard_tutorials' store_name %}">
                                <span class="icons"><i class="fa fa-laptop"></i></span> آموزشی
                            </a>
                            <a class="list-group-item d-flex align-items-center mx-4"
                               href="{% url 'shop:owner_dashboard_ticket_list' store_name %}">
                                <span class="icons"><i class="fa fa-comments"></i></span> تیکت‌ها
                            </a>
                            <a class="list-group-item d-flex align-items-center mx-4"
                               href="{% url 'shop:owner_dashboard_meta' store_name %}">
                                <span class="icons"><i class="fa fa-fa fa-google"></i></span> متاتگ‌ها
                            </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">لیست محصولات</h3>
                                </div>
                                
                                <div class="card-body">
                                    <a class="login100-form-btn btn-primary mb-4" href="{% url 'shop:product_create' store_name %}">افزودن محصول جدید<i
                                    class="fa fa-arrow-left ms-1"></i></a>
                                    <div class="table-responsive">
                                        <table class="table table-bordered text-nowrap border-bottom table-vcenter" id="example3">
                                            <thead>
                                            <tr>
                                                <th>تصویر محصول</th>
                                                <th>نام محصول</th>
                                                <th>دسته‌بندی</th>
                                                <th>قیمت عادی</th>
                                                <th>قیمت حراجی</th>
                                                <th>تعداد فروش</th>
                                                <th>تعداد بازدید</th>
                                                <th>بروزرسانی</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for product in products %}
                                            <tr>
                                                <td>
                                                    <div class="text-center">
                                                        <img alt="" class="cart-img text-center"
                                                            src="{{product.get_main_image}}">
                                                    </div>
                                                </td>
                                                <td>{{product.name}}</td>
                                                <td>{% for category in product.category.all %}
                                                        {{category.name}} - {{item.quantity}}<br>
                                                    {% endfor %}
                                                </td>
                                                <td>{{product.price|intcomma}}</td>
                                                <td>{{product.sales_price|intcomma}}</td>
                                                <td>{{product.get_sell_stats}} - {{product.views}}</td>
                                                <td>{{product.views}}</td>
                                                <td><a class="btn btn-success mt-2 mb-2" href="{% url 'shop:product_update' store_name product.id %}">بروزرسانی محصول</a>
                                                    <a href="{% url 'shop:product_delete' store_name product.slug %}" class="btn text-danger bg-danger-transparent btn-icon py-1"
                                                                            data-bs-original-title="حذف" data-bs-toggle="tooltip">حذف <span
                                                                                    class="bi bi-trash fs-16"></span></a>
                                                    <a href="{% url 'shop:owner_dashboard_copy_product' store_name product.id %}" class="btn text-success bg-success-transparent btn-icon py-1"
                                                    data-bs-original-title="ایجاد نسخه کپی" data-bs-toggle="tooltip">ساخت نسخه کپی <span
                                                            class="fa fa-clone fs-16"></span></a>
                                                                                </td>


                                            </tr>
                                            {% endfor %}
                                            
                                            </tbody>
                                            
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Row -->

                </div>
            </div>
            <!-- ROW-1 CLOSED -->
        </div>
        <!-- CONTAINER CLOSED -->

    </div>
</div>
<!--app-content closed-->
    
{% endblock %}


{% block js %}

<script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.js' %}"></script><script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.js' %}"></script>
<script src="{% static 'assets/js/autofill-table.js' %}"></script>
<script src="{% static 'assets/plugins/select2/select2.full.min.js' %}"></script>
<script src="{% static 'assets/js/select2.js' %}"></script>

<script src="{% static 'assets/js/autofill-table.js' %}"></script>

<script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/buttons.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/jszip.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatable/responsive.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/js/table-data.js' %}"></script>




{% endblock %}
