{% extends "base_3.html" %}
{% load static %}
{% load humanize %}
{% block meta %}
<meta charset="UTF-8">
<meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="description" content="{{ store.meta_description }}">
<meta content="PicoSite" name="author">
<meta name="keywords" content="{{store.meta_keywords}}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{store.get_canonical}}">

<!-- Open Graph tags -->
<meta property="og:title" content="{{store.meta_og_title}}">
<meta property="og:description" content="{{meta_og_description}}">
<meta property="og:image" content="{{store.get_logo_image}}" rel="shortcut icon" type="image/x-icon">
<meta property="og:url" content="{{store.get_canonical}}">
<meta property="og:type" content="website">

<!-- Twitter Card tags -->
<meta name="twitter:card" content="Summary Card with Large Image">
<meta name="twitter:title" content="{{store.meta_tc_title}}">
<meta name="twitter:description" content="{{store.meta_tc_description}}">
<meta name="twitter:image" content="{{store.get_logo_image}}">
{% endblock %}

{% block title %}تسویه حساب{% endblock %}

{% block content %}



{% if message %}
<p>{{ message }}</p>
{% endif %}

<!-- start content -->
<div class="container-fluid">

<div class="content-box mt-5">
    <div class="container-fluid">
        <div class="row gy-4">
            <div class="col-lg-12">
                <h2 class="title-font text-center title-line-bottom main-color-one-color mb-2 mt-3 h4">مشخصات گیرنده</span>
                </h2>
            </div>
        </div>
    

    <!-- CONTAINER -->
    <div class="main-container container-fluid">



        <!-- ROW-1 OPEN -->
        <form method="post">
        {% csrf_token %}
        <div class="row">
        
            <div class="col-xl-12 col-md-12">

                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">نام <span class="text-red">*</span></label>
                                    <input name="name" class="form-control" placeholder="نام" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="form-label">نام خانوادگی <span
                                            class="text-red">*</span></label>
                                    <input name="familly_name" class="form-control" placeholder="نام خانوادگی" type="text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">شماره تماس <span
                                            class="text-red">*</span></label>
                                    <input name="phone_number" class="form-control" placeholder="شماره تماس" type="text">
                                </div> 
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">آدرس ایمیل <span
                                            class="text-red">*</span></label>
                                    <input name="email" class="form-control" placeholder="ایمیل" type="email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">استان<span
                                            class="text-red">*</span></label>
                                    <input name="state" class="form-control" placeholder="استان" type="text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">شهر <span
                                            class="text-red">*</span></label>
                                    <input name="city" class="form-control" placeholder="شهر" type="text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">کد پستی <span
                                            class="text-red">*</span></label>
                                    <input name="zip_code" class="form-control" placeholder="کد پستی" type="text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">آدرس کامل<span
                                            class="text-red">*</span></label>
                                    <input name="address" class="form-control" rows="3" placeholder="آدرس کامل" type="text">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                   
                
            <!-- <div class="col-xl-4 col-md-12">
                
                <div class="card cart">
                    <div class="card-header">
                        <h3 class="card-title">اطلاعات صورت حساب</h3>
                    </div>
                        
                        <ul class="list-group br-7 mt-5">
                            <li class="list-group-item border-0">
                                مجموع هزینه کالاها
                                <span class="h6 fw-bold mb-0 float-end">{{order.get_raw_cost|intcomma}} تومان</span>
                            </li>
                            <li class="list-group-item border-0">
                                میزان تخفیف
                                <span class="h6 fw-bold mb-0 float-end">{{order.get_discount|intcomma}} تومان</span>
                            </li>
                            <li class="list-group-item border-0">
                                ارسال: {{order.delivery_method.name}}
                                <span class="h6 fw-bold mb-0 float-end">{{order.delivery_method.price|intcomma}} تومان</span>
                            </li>
                            <li class="list-group-item border-0">
                                جمع کل: 
                                <span class="h6 fw-bold mb-0 float-end">{{order.get_without_cashback_cost|intcomma}} تومان</span>
                            </li>
                            <li class="list-group-item border-0">
                                کسر از کیف پول: 
                                <span class="h6 fw-bold mb-0 float-end">{{order.get_wallet_payment_volume|intcomma}} تومان</span>
                            </li>
                            <li class="list-group-item border-0">
                                مجموع قابل پرداخت:
                                <span class="h4 fw-bold mb-0 float-end">{{order.get_final_payment|intcomma}} تومان</span>
                            </li>
                        </ul>
                        <div class="card-footer text-end">
                            <input class="btn btn-primary" id='click-payment' type='submit' value='پرداخت'>
                        </div>
                </div>
            </div> -->
        
        </div>
        <button type="submit" class="btn-outline-site main-color-one-bg rounded-pill px-3 py-1">ثبت مشخصات و ادامه فرایند خرید</button>
        <p class="text-danger">  {{ name_message }}</p>
        <p class="text-danger">  {{ familly_name_message }}</p>
        <p class="text-danger">  {{ phone_number_message }}</p>
        <p class="text-danger">  {{ email_message }}</p>
        <p class="text-danger">  {{ state_message }}</p>
        <p class="text-danger">  {{ city_message }}</p>
        <p class="text-danger">  {{ city_message }}</p>
        <p class="text-danger">  {{ city_message }}</p>
        <p class="text-danger">  {{ zip_code_message }}</p>
        <p class="text-danger">  {{ address_message }}</p>
        </form>
        <!-- ROW-1 CLOSED -->
    </div>
    <!-- CONTAINER CLOSED -->

</div>
</div>
</div>


{% endblock %}

{% block js %}
{% endblock %}