{% extends "base_main.html" %}
{% load static %}
{% block title %}پیکوسایت - درباره ما{% endblock %}

{% block content %}


<div class="page-header">
    <h1 class="page-title">درباره ما</h1>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">خانه</a></li>
            <li aria-current="page" class="breadcrumb-item active">درباره ما</li>
        </ol>
    </div>
</div>
<!-- PAGE-HEADER END -->

<div class="row">
    <div class="col-lg-12">
        <div class="card mt-0">
            <div class="card-body p-5 text-dark">
                <div class="statistics-info p-4">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="text-justify">
                                <h2>ما به شما کمک می‌کنیم فروشتان را چندین برابر کنید!!!</h2>
                                <p>امروزه با همه‌گیری استفاده از اینترنت و دستگاه‌های هوشمند سبک زندگی و خصوصا سبک خرید کالا به کلی دچار تغییر شده است. اکثر ما دوست داریم تا از منزل تنها با استفاده از یک گوشی موبایل یا کامپیوتر خود به دنبال کالاهای مورد علاقه‌ی خود بگردیم و آن‌ها را خرید کنیم</p>
                                <p>بنابراین فروشگاه‌های اینترنتی جزیی جدایی ناپذیر از بازار خرید کالا شده‌اند و سهم بزرگی از بازار خرده فروشی در دست فروشگاه‌های آنلاین است.</p>
                                <p>بسیاری از فروشندگان برای پاسخ‌دهی به این نیاز صفحه اینستاگرام و یا کانال تلگرام را به عنوان راه حل دیجیتال خود انتخاب نموده‌اند. اگر چه این شیوه‌ها نیز بسیار سودمند است و وجود آن باعث می‌شود تا فروش آنلاین به هر طریقی ممکن شود اما چالش‌های زیادی را به همراه دارد.</p>
                                <p>از این موارد میتوان به ارسال فیش‌های واریز جعلی توسط کلاهبرداران و یا دشواری پاسخ‌دهی به پیام‌های مربوط به قیمت و موجودی و... اشاره کرد. این موارد در زمان‌های خاص پیک فروش مثل شب‌های نزدیک به عید و یا مناسبت‌های خاص مثل روز مادر، یلدا و... بسیار تشدید می‌شود.</p>
                                <p>یک راهکار بسیار کارآمد برای حل این مشکلات راه‌اندازی یک سایت فروشگاهی می‌باشد. سایت فروشگاهی با داشتن درگاه پرداخت مشکل فیش‌های جعلی را کاملا برطرف می‌نماید. سیستم مدیریت انبار خودکار موجودی و تنوع‌های کالاها را کاملا مدیریت می‌کند و د یگر نیازی به ارتباط مستقیم فروشنده با مشتری نیست و اطلاعات کاملی در اختیار مشتریان قرار می‌گیرد.</p>
                                <p>با استفاده از داشبورد قدرتمند و امکانات بالا، مدیریت بسیار خوبی بر روی مشتریان، سفارشات، فرایندهای ارسال و... شکل می‌گیرد و بسیاری قابلیت‌های دیگر که تنها با استفاده از یک سایت فروشگاهی امکان‌پذیر می‌شود.</p>
                                <p>اما طراحی سایت می‌تواند امری پیچیده و هزینه‌بر باشد. همچنین در ابتدای امر فروشندگان انتظار دارند تا در نتایج اول گوگل قرار بگیرند. ولی این امر امکان‌پذیر نیست چرا که ارتقای رتبه گوگل به مرور زمان اتفاق می‌افتد و حداقل 10 ماه زمان لازم است تا یک سایت با انجام فرانیدهای سئو و تولید محتوای صحیح بتواند به صفحه‌ی اول گوگل دست یابد. لذا با توجه به هزینه‌ای که بابت نگهداری و بروزرسانی سایت انجام می‌شود در اکثر موارد پس از چند ماه صاحب وب‌سایت از داشتن و مدیریت سایت منصرف می‌شود.</p>
                                <p>خود بروزرسانی و مدیریت سایت نیازمندی‌های ویژه‌ای دارد. به عنوان مثال علاوه بر بارگذاری محصولات، بنرها و اسلایدهای سایت در بخش‌های مختلف با توجه به مناسبت‌های مختلف نیاز به بروزرسانی دارند تا سایت از یکنواختی خارج شود و ظاهری جذاب به خود بگیرد که این امر نیازمند استخدام نیروهای پشتیان و گرافیست دارد و مجددا هزینه‌ی زیادی به صاحب سایت تحمیل می‌شود.</p>
                                <p>به این موارد اجاره ماهانه و یا سالانه هاست یا سرور و هزینه نگهداری سخت‌افزار و... را نیز اضافه نمایید.</p>
                                <p>ما در پیکوسایت همه این موارد را برای شما حل کرده‌ایم!!!</p>
                                <p>شما می‌توانید همین امروز بدون هیچ گونه دانش نرم‌افزاری و سخت‌افزاری سایت فروشگاهی خود را  به صورت رایگان راه‌اندازی نمایید. پیکوسایت با تسهیل فرایند ایجاد سایت فروشگاهی این امکان را ایجاد کرده تا در کمتر از 5 دقیقه یک سایت فروشگاهی با تمام امکانات لازم را ایجاد نمایید.</p>
                                <p>خدماتی که در هنگام راه‌اندازی سایت به شما ارايه می‌کنیم عبارت است از:</p>
                                <p>
                                    <li>سرور رایگان بسیار سریع و قدرتمند بدون هزینه ماهانه و سالانه برای تمدید و یا نگهداری</li>
                                    <li>یک دامنه رایگان به صورت زیردامنه‌ی پیکوسایت برای اینکه همان ابتدا بتوانید فروشگاه خود را ببینید و محصولات خود را بارگذاری کنید</li>
                                    <li>درگاه پرداخت متصل</li>
                                    <li>سایت فروشگاهی با تمامی امکانات نظیر سرچ، فیلتر، دسته‌بندی‌های سفارشی و ...</li>
                                    <li>سیستم مدیریت انبار هوشمند و کاملا خودکار</li>
                                    <li>قابلیت افزودن شیوه‌های ارسال اختصاصی</li>
                                    <li>پنل فروشندگی بسیار ساده و قدرتمند و کاملا فارسی</li>
                                    <li>قابلیت استخراج لیست سفارشات، مشتریان، کالاها و تمامی آمارهایی که فروش را برای شما تسهیل می‌نماید</li>
                                    <li>و ده‌ها امکانات دیگر که تنها با تجربه‌ می‌توانید از آن‌ها لذت ببرید</li>
                                </p>
                                <p>ما تنها در مرحله‌ی ایجاد سایت در کنار شما نیستیم بلکه نقطه برتری ما نسبت به سایر پلتفرم‌های طراحی سایت، خدمات مدیریت و نگهداری سایت ما است!!!</p>
                                <p>پیکوسایت هر روزه تعدادی تصویر مناسب با دسته‌بندی‌ها، اسلایدها و بنرهای سایت در ایام مختلف سایت به ویژه در مناسبت‌های خاص ایجاد می‌کند و در مخزن تصاویر خود قرار می‌دهد تا شما به راحتی بتوانید سایت خود را با تصاویر و جلوه‌های متنوع بروزرسانی نمایید. همچنین با داشبورد مدیریت پیشرفته‌ای که برای شما طراحی نموده است این بروز رساینی را در ساده‌ترین حالت ممکن پیاده‌سازی نموده‌ است تا شما با یک کلیک بتوانید سایت خود را بروز نمایید.</p>
                                <p>از نظر سخت‌افزار و نرم‌افزار نیز هیچ گونه مسئولیتی بر عهده‌ی صاحب فروشگاه نیست چرا که وظیفه نگهداری سرور فایل‌ها و دیتابیس و... کاملا بر عهده‌ی ما است.</p>
                                <p>پیکو سایت همچنین با بازنشر محصولات شما در صفحات مجازی و وبسایت اصلی خود و ارجاع مشتریان به سایت شما ترافیک بالایی برای شما به ارمغان می‌آورد.</p>
                                
                                <h2>اما این خدمات توسط چه کسانی ارائه می‌شود؟!!!</h2>
                                <p>پیکوسایت یک استارتاپ دانش‌بنیان است که توسط جمعی از بهترین برنامه‌نویس‌ها و فعالین اکوسیستم نوآوری و کارآفرینی کشور ایجاد شده است. هدف از ایجاد پیکوسایت تسهیل ایجاد فروشگاه‌های اینترنتی برای فرشندگان سراسر کشور خصوصا آنلاین‌شاپ‌های اینستاگرام است.</p>
                                <p>امروزه بازار خرده‌فروشی آنلاین کشور به صورت عمده در دست بازیگرانی چون دیجیکالا است و تنها رقیب این پلتفرم‌ها فروشگاه های فعال در اینستاگرام، تلگرام و سایر شبکه‌های مجازی هستند. اما این پلتفرم‌ها در کشور ما خدمات فروش محصول را ارائه نمی‌کنند لذا تصمیم گرفتیم تا ابزار فروش آنلاین خودکار و هوشمند را به صورت رایگان و یا با هزینه بسیار کم در اختیار فروشندگان عزیز قرار دهیم.</p>
                                <p>در چشم‌اندازی طولانی مدت، پیکوسایت به یکی از بزرگترین بازارچه‌های آنلاین کشور تبدیل خواهد شد که با گردهم آوردن تمامی فروشگاه‌های زیرمجموعه، فروش بسیاری را برای فروشگندگان عضو به ارمغان خواهد آورد. به امید تحقق این هدف با افتخار میزبان شما هستیم.</p>


                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}