{% extends "base_main.html" %}
{% load static %}
{% block title %}پیکوسایت - سوالات متداول{% endblock %}

{% block content %}

<div class="page-header">
    <h1 class="page-title">قالب‌ها و دموها</h1>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">خانه</a></li>
            <li aria-current="page" class="breadcrumb-item active">قالب‌ها و دموها</li>
        </ol>
    </div>
</div>
<!-- PAGE-HEADER END -->

<!-- Row-->
<div class="row ">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card">
                
                <div class="card-body">
                    
                    <p class="text-justify">پیکوسایت همواره سعی بر این دارد تا روند طراحی سایت و توسعه کسب و کار را برای کاربران راحت تر کند. بنابراین با حذف دشواری‌های توسعه طراحی سایت و ایجاد یک سیستم تماما خودکار این امکان را به شما می‌دهد تا در سریع‌ترین زمان بتوانید سایت فروشگاهی حرفه‌ای داشته باشید. اما برای ایجاد تنوع و تطابق با تمامی سلیقه‌ها، سعی می‌کنیم تا به طور مرتب پوسته‌ها و دموهای جدید برای شما توسعه دهیم تا سایت مطابق با سلیقه خود را داشته باشید. د حال حاضر تعداد این قالب‌ها به سه عدد رسیده که برای هر یک 5 دموی محتوای اولیه نیز توسعه داده شده است که شا در زمان سفارش می‌توانید هر قالب با هر دمویی که مد نظرتان است را انتهاب نمایید. همچنین پس از ساخت سایت شما در پنل مدیریت سایت تنها با یک کلیک می‌توانید قالب سایت خود را بدون از دست رفتن محتوا تغییر دهید. درواقع با یا بار ساخت ساخت به تعداد بسیار زیادی قالب قابل انتخاب دسترسی دارید. در ادامه قالب‌ها و دموهای قابل انتخاب تا این لحظه آورده شده است. به این قالب‌ها به مرور زمان اضافه می‌شود.</p>
                    
                </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 col-md-12 text-center"><h1 class="display-2 text-primary fs-40"><strong>قالب کالرا</strong></h1></div>
    
    <div class="col-xl-6 col-md-12">
        <div class="card overflow-hidden">
            <img alt="img" class="card-img-top p-3" src="https://picosite.ir/static/viracoders_assets/img/colora%20art.png">
            <div class="card-body">
                <h5 class="card-title">دموی فرهنگ و هنر</h5>
                <p class="card-text">این قالب مناسب فروش انواع لوازم دکوری، صنایع دستی، آلات موسیقی و لوازم تحریر و نقاشی است.</p>
                <a class="btn btn-primary" href="https://picosite.ir/shop/colora-art-and-culture-demo/">مشاهده دموی زنده</a>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12">
        <div class="card overflow-hidden">
            <img alt="img" class="card-img-top p-3" src="https://picosite.ir/static/viracoders_assets/img/colora%20perfume.png">
            <div class="card-body">
                <h5 class="card-title">دموی عطر و ادکلن</h5>
                <p class="card-text">این قالب مناسب فروش انواع عطر و ادکلن، بادی اسپلش، گیفت ست، تستر عطر و... است.</p>
                <a class="btn btn-primary" href="https://picosite.ir/shop/colora-perfume-demo/">مشاهده دموی زنده</a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="card overflow-hidden">
            <img alt="img" class="card-img-top p-3" src="https://picosite.ir/static/viracoders_assets/img/colora%20toys.png">
            <div class="card-body">
                <h5 class="card-title">دموی کودک و اسباب‌بازی</h5>
                <p class="card-text">این قالب مناسب فروش تمامی ملزومات کودک و نوزاد و اسباب بازی و کنسول بازی است.</p>
                <a class="btn btn-primary" href="https://picosite.ir/shop/colora-toys-and-kids-demo/">مشاهده دموی زنده</a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="card overflow-hidden">
            <img alt="img" class="card-img-top p-3" src="https://picosite.ir/static/viracoders_assets/img/colora%20cosmetics.png">
            <div class="card-body">
                <h5 class="card-title">دموی آرایشی و بهداشتی</h5>
                <p class="card-text">این قالب مناسب فروش لوازم آرایشی و بهداشتی و لوازم برقی شخصی آقایان و بانوان است.</p>
                <a class="btn btn-primary" href="https://picosite.ir/shop/colora-cosmetics-demo/">مشاهده دموی زنده</a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="card overflow-hidden">
            <img alt="img" class="card-img-top p-3" src="https://picosite.ir/static/viracoders_assets/img/colora%20fashion.png">
            <div class="card-body">
                <h5 class="card-title">دموی مد و پوشاک</h5>
                <p class="card-text">این قالب مناسب فروش انواع لباس‌های مردانه و زنانه و بچگانه، کیف و کفش و اکسسوری است.</p>
                <a class="btn btn-primary" href="https://picosite.ir/shop/colora-fashion-demo/">مشاهده دموی زنده</a>
            </div>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-xl-12 col-md-12 text-center"><h1 class="display-2 text-primary fs-40"><strong>قالب هناس</strong></h1></div>
    
    <div class="col-xl-6 col-md-12">
        <div class="card overflow-hidden">
            <img alt="img" class="card-img-top p-3" src="https://picosite.ir/static/viracoders_assets/img/henas%20fashion.png">
            <div class="card-body">
                <h5 class="card-title">دموی مد و پوشاک</h5>
                <p class="card-text">این قالب مناسب فروش انواع لباس‌های مردانه و زنانه و بچگانه، کیف و کفش و اکسسوری است.</p>
                <a class="btn btn-primary" href="https://picosite.ir/shop/henas-fashion-demo/">مشاهده دموی زنده</a>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12">
        <div class="card overflow-hidden">
            <img alt="img" class="card-img-top p-3" src="https://picosite.ir/static/viracoders_assets/img/henas%20cosmetics.png">
            <div class="card-body">
                <h5 class="card-title">دموی آرایشی و بهداشتی</h5>
                <p class="card-text">این قالب مناسب فروش لوازم آرایشی و بهداشتی و لوازم برقی شخصی آقایان و بانوان است.</p>
                <a class="btn btn-primary" href="https://picosite.ir/shop/henas-cosmetics-demo/">مشاهده دموی زنده</a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="card overflow-hidden">
            <img alt="img" class="card-img-top p-3" src="https://picosite.ir/static/viracoders_assets/img/henas%20toys.png">
            <div class="card-body">
                <h5 class="card-title">دموی کودک و اسباب‌بازی</h5>
                <p class="card-text">این قالب مناسب فروش تمامی ملزومات کودک و نوزاد و اسباب بازی و کنسول بازی است.</p>
                <a class="btn btn-primary" href="https://picosite.ir/shop/henas-toys-and-kids-demo/">مشاهده دموی زنده</a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="card overflow-hidden">
            <img alt="img" class="card-img-top p-3" src="https://picosite.ir/static/viracoders_assets/img/henas%20art.png">
            <div class="card-body">
                <h5 class="card-title">دموی فرهنگ و هنر</h5>
                <p class="card-text">این قالب مناسب فروش انواع لوازم دکوری، صنایع دستی، آلات موسیقی و لوازم تحریر و نقاشی است.</p>
                <a class="btn btn-primary" href="https://picosite.ir/shop/henas-art-and-culture-demo/">مشاهده دموی زنده</a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="card overflow-hidden">
            <img alt="img" class="card-img-top p-3" src="https://picosite.ir/static/viracoders_assets/img/henas%20perfume.png">
            <div class="card-body">
                <h5 class="card-title">دموی عطر و ادکلن</h5>
                <p class="card-text">این قالب مناسب فروش انواع عطر و ادکلن، بادی اسپلش، گیفت ست، تستر عطر و... است.</p>
                <a class="btn btn-primary" href="https://picosite.ir/shop/henas-perfume-demo/">مشاهده دموی زنده</a>
            </div>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-xl-12 col-md-12 text-center"><h1 class="display-2 text-primary fs-40"><strong>قالب شاهان</strong></h1></div>
    
    <div class="col-xl-6 col-md-12">
        <div class="card overflow-hidden">
            <img alt="img" class="card-img-top p-3" src="https://picosite.ir/static/viracoders_assets/img/shahan%20fashion.png">
            <div class="card-body">
                <h5 class="card-title">دموی مد و پوشاک</h5>
                <p class="card-text">این قالب مناسب فروش انواع لباس‌های مردانه و زنانه و بچگانه، کیف و کفش و اکسسوری است.</p>
                <a class="btn btn-primary" href="https://picosite.ir/shop/shahan-fashion-demo/">مشاهده دموی زنده</a>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12">
        <div class="card overflow-hidden">
            <img alt="img" class="card-img-top p-3" src="https://picosite.ir/static/viracoders_assets/img/shahan%20cosmetics.png">
            <div class="card-body">
                <h5 class="card-title">دموی آرایشی و بهداشتی</h5>
                <p class="card-text">این قالب مناسب فروش لوازم آرایشی و بهداشتی و لوازم برقی شخصی آقایان و بانوان است.</p>
                <a class="btn btn-primary" href="https://picosite.ir/shop/shahan-cosmetics-demo/">مشاهده دموی زنده</a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="card overflow-hidden">
            <img alt="img" class="card-img-top p-3" src="https://picosite.ir/static/viracoders_assets/img/shahan%20toys.png">
            <div class="card-body">
                <h5 class="card-title">دموی کودک و اسباب‌بازی</h5>
                <p class="card-text">این قالب مناسب فروش تمامی ملزومات کودک و نوزاد و اسباب بازی و کنسول بازی است.</p>
                <a class="btn btn-primary" href="https://picosite.ir/shop/shahan-kids-and-toys-demo/">مشاهده دموی زنده</a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="card overflow-hidden">
            <img alt="img" class="card-img-top p-3" src="https://picosite.ir/static/viracoders_assets/img/shahan%20art.png">
            <div class="card-body">
                <h5 class="card-title">دموی فرهنگ و هنر</h5>
                <p class="card-text">این قالب مناسب فروش انواع لوازم دکوری، صنایع دستی، آلات موسیقی و لوازم تحریر و نقاشی است.</p>
                <a class="btn btn-primary" href="https://picosite.ir/shop/shahan-art-and-culture-demo/">مشاهده دموی زنده</a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="card overflow-hidden">
            <img alt="img" class="card-img-top p-3" src="https://picosite.ir/static/viracoders_assets/img/shahan%20perfume.png">
            <div class="card-body">
                <h5 class="card-title">دموی عطر و ادکلن</h5>
                <p class="card-text">این قالب مناسب فروش انواع عطر و ادکلن، بادی اسپلش، گیفت ست، تستر عطر و... است.</p>
                <a class="btn btn-primary" href="https://picosite.ir/shop/shahan-perfume-demo/">مشاهده دموی زنده</a>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}