{% extends "base_main.html" %}
{% load static %}
{% block title %}پیکوسایت - سوالات متداول{% endblock %}

{% block content %}

<div class="page-header">
    <h1 class="page-title">سوالات متداول</h1>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">خانه</a></li>
            <li aria-current="page" class="breadcrumb-item active">سوالات متداول</li>
        </ol>
    </div>
</div>
<!-- PAGE-HEADER END -->

<!-- Row-->
<div class="row ">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card">
                <div class="card-header">
                    <h3 class="card-title">سوالات و پاسخ‌ها</h3>
                </div>
                <div class="card-body">
                    
                    <div class="panel-group1" id="accordion1">
                        <div class="panel panel-default mb-4">
                            <div class="panel-heading1 ">
                                <h4 class="panel-title1">
                                    <a aria-expanded="false" class="accordion-toggle collapsed"
                                        data-bs-parent="#accordion" data-bs-toggle="collapse"
                                        href="#faq0">پیکوسایت چیه و چی کار میکنه؟</a>
                                </h4>
                            </div>
                            <div aria-expanded="false" class="panel-collapse collapse" id="faq0"
                                    role="tabpanel">
                                <div class="panel-body">
                                    <p>پیکوسایت یک پلتفرم سایت سازه که سایت‌های فروشگاهی می‌سازه. یعنی شما بدون اینکه دانش طراحی سایت داشته باشی می‌تونی با استفاده از پیکوسایت تنها با چند کلیک یک سایت فروشگاهی با تمام امکانات داشته باشی.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="panel-group1" id="accordion1">
                        <div class="panel panel-default mb-4">
                            <div class="panel-heading1 ">
                                <h4 class="panel-title1">
                                    <a aria-expanded="false" class="accordion-toggle collapsed"
                                        data-bs-parent="#accordion" data-bs-toggle="collapse"
                                        href="#faq1">هزینه راه‌اندازی سایت فروشگاهی با پیکوسایت چقدره؟</a>
                                </h4>
                            </div>
                            <div aria-expanded="false" class="panel-collapse collapse" id="faq1"
                                    role="tabpanel">
                                <div class="panel-body">
                                    <p>پیکوسایت رایگانه!!! یعنی شما نیازی نیست واسه شروع کسب و کار آنلاینت پولی بدی. فقط اون اول اگه پیکوسایت تونست محصولی برات بفروشه و بهت سود برسونه 1 درصد از فروش رو به عنوان کارمزد برمیداره که مبلغ خیلی خیلی ناچیزیه در مقابل خمداتی که بهت میده. اگر فروشگات بزرگ شد و فروش زیدی داشتی و اون یک درصد عدد بزرگی میشد میتونی اونوقت پکیج ب\یری. یعنی مثلا با ماهی 299 هزار تومن دیگه اون 1 درصد رو ندی.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="panel-group1" id="accordion1">
                        <div class="panel panel-default mb-4">
                            <div class="panel-heading1 ">
                                <h4 class="panel-title1">
                                    <a aria-expanded="false" class="accordion-toggle collapsed"
                                        data-bs-parent="#accordion" data-bs-toggle="collapse"
                                        href="#faq2">اگر بخوام سایتی مشابه با سایت‌های پیکوسایت رو بدم بیرون برام طراحی کنن چقدر برام هزینه داره؟</a>
                                </h4>
                            </div>
                            <div aria-expanded="false" class="panel-collapse collapse" id="faq2"
                                    role="tabpanel">
                                <div class="panel-body">
                                    <p>از اونجایی که این سایت‌ها به صورت کدنویسی اختصاصی هستن و وردپرسی نیستن و سرور اختصاصی بسیار قوی و پرسرعت پشتش هست و امکانات خیلی خیلی زیادی بهت میده حداقل 40 میلیون تومن باید هزینه کنی.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="panel-group1" id="accordion1">
                        <div class="panel panel-default mb-4">
                            <div class="panel-heading1 ">
                                <h4 class="panel-title1">
                                    <a aria-expanded="false" class="accordion-toggle collapsed"
                                        data-bs-parent="#accordion" data-bs-toggle="collapse"
                                        href="#faq3">اینکه میگین سایت فروشگاهی با تمام امکانات یعنی چی؟ سایت‌های پیکوسایت چه امکاناتی داره؟</a>
                                </h4>
                            </div>
                            <div aria-expanded="false" class="panel-collapse collapse" id="faq3"
                                    role="tabpanel">
                                <div class="panel-body">
                                    <p>سایت‌های فروشگاهی پیکو سایت مجموعه امکاناتی رو به فروشنده میده که تمام فرایند بارگذاری محصول تا ارسال رو به بهترین شکل براش میدیریت می‌کنه. پنل کاملا فارسی ساده و قدرتمند، درگاه پرداخت متصل از لحظه اول، قابلیت افزودن دسته‌بندی‌های شخصی، افزودن متدهای ارسال شخصی سازی شده، تعریف کوپن‌های تخفیف، بانک تصاویر آماده و ده‌ها امکانات دیگه که فکرشم نمی‌کنی.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="panel-group1" id="accordion1">
                        <div class="panel panel-default mb-4">
                            <div class="panel-heading1 ">
                                <h4 class="panel-title1">
                                    <a aria-expanded="false" class="accordion-toggle collapsed"
                                        data-bs-parent="#accordion" data-bs-toggle="collapse"
                                        href="#faq4">من وقتی با پیکوسایت فروشگاه آنلاین راه‌اندازی میکنم با چه اسم یا آدرس دامینی بهش وصل میشم؟</a>
                                </h4>
                            </div>
                            <div aria-expanded="false" class="panel-collapse collapse" id="faq4"
                                    role="tabpanel">
                                <div class="panel-body">
                                    <p>در ابتدا موقع ثبت نام یک اسم برای فروشگاه خودت انتخاب میکنی مثلا happy. بعد یه دامنه به صورت خودکار بهت تعلق می‌گیره که به این صورته: picosite.com/happy. الان با این دامنه سایت شما در دسترسه و می‌تونید تو صفحات اجتماعیتون به اشتراک بذاریدش. اما بهتره که یک دامنه شخصی برای خودتون ثبت کنید و اون رو به ما اطلاع بدین تا براتون اون آدرس رو روی فروشگاهتون ست کنیم.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="panel-group1" id="accordion1">
                        <div class="panel panel-default mb-4">
                            <div class="panel-heading1 ">
                                <h4 class="panel-title1">
                                    <a aria-expanded="false" class="accordion-toggle collapsed"
                                        data-bs-parent="#accordion" data-bs-toggle="collapse"
                                        href="#faq5">راجع به درگاه پرداختی که از اول متصل هست توضیح می‌دین؟</a>
                                </h4>
                            </div>
                            <div aria-expanded="false" class="panel-collapse collapse" id="faq5"
                                    role="tabpanel">
                                <div class="panel-body">
                                    <p>روی هر سایتی که در پیکوسایت ایجاد میشه یک درگاه پرداخت فعاله که این درگاه پرداخت پیش‌فرض خود پیکوسایت هست. تا زمانی که شما حساب زرین پال نساختید و اطلاعاتش رو برای ما اسال نکردید می‌تونید از این درگاه پرداخت استفاده کنید. به این صورت که مبلغ سفارشات شما در کیف پول فروشگاهتون در پیکوسایت ذخیره میشه و شما هر ساعتی از شبانه روز می‌تونید درخواست برداشت بزنید و براتون طی 24 ساعت کاری واریز میشه. اما بهتره که درگاه پرداخت اختصاصی خودتون رو داشته باشین. پس وقتی سایتتون رو در پیکوسایت فعال کردین و دامنه براش گذاشتین حتما برید به سایت زرین پال و در کمتر از 10 دیقه یک درگاه پرداخت اختصاصی برای خودتون راه‌اندازی کنید.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="panel-group1" id="accordion1">
                        <div class="panel panel-default mb-4">
                            <div class="panel-heading1 ">
                                <h4 class="panel-title1">
                                    <a aria-expanded="false" class="accordion-toggle collapsed"
                                        data-bs-parent="#accordion" data-bs-toggle="collapse"
                                        href="#faq6">مخزن تصاویر پیکوسایت چیه و چه کاربردی داره؟</a>
                                </h4>
                            </div>
                            <div aria-expanded="false" class="panel-collapse collapse" id="faq6"
                                    role="tabpanel">
                                <div class="panel-body">
                                    <p>هر سایت فروشگاهی برای اینکه بتونه زیبایی ظاهری خاصی داشته باشه و مشتری رو راضی نگه داره نیاز داره تا با تصاویر و بنرهای مختلف مثل تصاویر کمپین‌های تبلیغاتی و یا مناسبتی ظاهر سایت رو متناوبا به روز رسانی کنه. اما ایجاد این محتوای بصری نیاز به یک یا چند گرافیست ماهر داره که طبیعتا هزینه زیادی به همراه داره.  ما تو پیکوسایت این کار رو برای مشترکینمون انجام می‌دیم. یعنی یه تعداد زیادی تصویر با کیفیت مناسب درج در صفحات سایت تولید می‌کنیم و روی مخزن تصاویر خودمون قرار می‌دیم که شما می‌تونید از این تصاویر برای بروزرسانی ظاهر سایتتون به رایگان استفاده کنید.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
        </div>
    </div>
</div>

{% endblock %}