{% extends "base_main.html" %}
{% load static %}
{% block title %}پیکوسایت - سایت‌ساز رایگان ایرانی{% endblock %}

{% block content %}

<!-- ROW-1 OPEN -->
<div class="row mt-5">
    
    <div class="col-lg-12 col-xl-12">
        <div class="card">
            
                <div class="carousel slide" data-bs-ride="carousel" id="carousel-controls">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="{% url 'shop:new-site' %}">
                            <img alt="" class="d-block w-100 br-5"
                                    data-bs-holder-rendered="true" src="https://marketplace-bucket.storage.iran.liara.space/%D8%A7%D8%B3%D9%84%D8%A7%DB%8C%D8%AF%20%D8%A7%D9%88%D9%84%20%D9%BE%DB%8C%DA%A9%D9%88%D8%B3%D8%A7%DB%8C%D8%AA.jpg"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="{% url 'shop:new-site' %}">
                            <img alt="" class="d-block w-100 br-5"
                                    data-bs-holder-rendered="true" src="https://marketplace-bucket.storage.iran.liara.space/%D8%A7%D8%B3%D9%84%D8%A7%DB%8C%D8%AF%20%D8%AF%D9%88%D9%85%20%D9%BE%DB%8C%DA%A9%D9%88%D8%B3%D8%A7%DB%8C%D8%AA.jpg"></a>
                        </div>
                        <!-- <div class="carousel-item">
                            <a href="{% url 'shop:new-site' %}">
                            <img alt="" class="d-block w-100 br-5"
                                    data-bs-holder-rendered="true" src="https://marketplace-bucket.storage.iran.liara.space/%D9%BE%DB%8C%DA%A9%D9%88%20%D8%B3%D8%A7%DB%8C%D8%AA%20%D8%A8%D9%86%D8%B1%20%D8%B3%D9%88%D9%85.jpg"></a>
                        </div> -->
                        
                    </div>
                    <a class="carousel-control-prev" data-bs-slide="prev" href="#carousel-controls"
                        role="button">
                        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                        <span class="sr-only">قبلی</span>
                    </a>
                    <a class="carousel-control-next" data-bs-slide="next" href="#carousel-controls"
                        role="button">
                        <span aria-hidden="true" class="carousel-control-next-icon"></span>
                        <span class="sr-only">بعدی</span>
                    </a>
                </div>
        </div>
    </div>
    
</div>
<!-- ROW-1 CLOSED -->

<div class="row mt-5">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 ">
        <div class="card service bg-primary">
            <div class="card-body ">
                <div class="item-box text-center ">
                    <div class=" text-center mb-4 text-white"><i class="fa fa-money"></i>
                    </div>
                    <div class="item-box-wrap">
                        <p class="mb-2 text-white">بدون هزینه طراحی سایت</p>
                        <p class="text-muted mb-0 text-white">سایت فروشگاهی حرفه‌ای و قدرتمند بدون هزینه طراحی سایت تنها با شارژ بسیار اندک ماهانه</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card service bg-primary">
            <div class="card-body">
                <div class="item-box text-center">
                    <div class=" text-center text-white mb-4"><i
                            class="fa fa-hourglass-2"></i></div>
                    <div class="item-box-wrap">
                        <p class="mb-2 text-white">راه‌اندازی سایت با یک کلیک</p>
                        <p class="text-muted mb-0 text-white">سریع‌ترین راه‌اندازی ممکن تنها با یک کلیک. از لحظه اول همه‌ی امکانات مورد نیاز کسب و کار شما فعال است</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card service bg-primary">
            <div class="card-body">
                <div class="item-box text-center">
                    <div class=" text-center text-white mb-4"><i class="fa fa-gears"></i>
                    </div>
                    <div class="item-box-wrap">
                        <p class="mb-2 text-white">ساده‌ترین مدیریت ممکن</p>
                        <p class="text-muted mb-0 text-white">برای بروزرسانی محتوا و تصاویر و کمپین‌هاتون دیگه نگران نباشید ما براتون همه رو انجام میدیم!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card service bg-primary">
            <div class="card-body">
                <div class="item-box text-center">
                    <div class="text-center text-white mb-4"><i
                            class="fa fa-skyatlas"></i></div>
                    <div class="item-box-wrap">
                        <p class="mb-2 text-white">دسترسی از همه جا</p>
                        <p class="text-muted mb-0 text-white">با پیکوسایت فروشگاهت همیشه تو جیبته. مدیریت سایت آسون از هر کجا حتی با یه گوشی موبایل</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5" >
    <div class="col-lg-12">
        <div class="row">
            <div class="col-xl-6">
                <div class="mt-5">
                    <h2 class="fw-bold ps-3">ما <span class="text-primary">فروش</span>
                        شما را چند برابر می‌کنیم.</h2>
                    <h4 class="leading-normal ps-3">راه‌اندازی فروشگاه اینترنتی تا الان به این راحتی نبوده</h4>
                    <p class="text-justify p-3">فقط با یک کلیک میتونی به صاحب یک فروشگاه آنلاین پیشرفته با تمامی امکانات باشی.
                        تمامی نیازمندی‌ها مثل داشبورد فروشندگی، شیوه‌های ارسال سفارشی، کوپن‌های تخفیف، هاست و دامنه و... از همان لحظه‌ی اول برای شما مهیاست. فقط کافیه شروع کنی و محصولات خودتو رو فروشگاه قرار بدی!!!
                        مدیریت سایت با سایت ساز پیکوسایت به شکل باورنکردنی ساده شده. با طراحی یک پنل مدیریت کاملا فارسی و کاربر پسند تونستیم مدیریت سایت رو به راحت ترین شکل ممکن براتون امکان پذیر کنیم.
                    پس منتظر چی هستی؟!! همین الان سایت فروشگاهی خودتو در کمتر از دو دقیقه راه‌اندازی کن و سایتت درآمد کسب کن!!!</p>
                </div>
                <div class="btn-list mb-5 p-3">
                    <a class="btn btn-success" href="{% url 'shop:new-site' %}">راه‌اندازی فروشگاه<i
                            class="fa fa-arrow-left ms-1"></i></a>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="text-center">
                    <img alt="" class="br-5" src="https://marketplace-bucket.storage.iran.liara.space/%D9%85%D8%B9%D8%B1%D9%81%DB%8C%20%D8%AE%D8%AF%D9%85%D8%A7%D8%AA%20%D9%BE%DB%8C%DA%A9%D9%88%D8%B3%D8%A7%DB%8C%D8%AA.jpg">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5" >
    <div class="col-lg-12">
        <div class="row">
            <div class="col-xl-6">
                <div class="card overflow-hidden">
                    <div id="73177283615"><script type="text/JavaScript" src="https://www.aparat.com/embed/U5TeC?data[rnddiv]=73177283615&data[responsive]=yes"></script></div>    
                </div>
            </div>
            <div class="col-xl-6">
                <div class="mt-5">
                    <h2 class="fw-bold ps-3">تنها در <span class="text-primary">دو دقیقه</span>
                        فروشگاه آنلاین حرفه‌ای بسازید</h2>
                        <h4 class="leading-normal ps-3">تمامی امکانات مورد نیاز شما از لحظه اول فعال است</h4>
                    
                    <p class="text-justify p-3">در این ویدئوی کوتاه نشان می‌دهیم که چگونه در کمترین زمان ممکن سایت حرفه‌ای با تمام امکانات مورد نیاز خود را راه‌اندازی نمایید. در سه مرحله ساده فروشگاه شما آماده است. ابتدا نام فروشگاه خود را انتخاب کنید و حوزه کاری آن را مشخص کنید. سپس نام متصدی فروشگاه به همراه شماره تماس وی را وارد نمایید. در آخرین مرحله کد تایید ارسال شده به شماره تماس وارد شده را ارسال نمایید. فروشگاه شما در این لحظه آماده است.</p>
                
                </div>
                <div class="btn-list mb-5 p-3">

                    <a class="btn btn-success" href="{% url 'shop:new-site' %}">راه‌اندازی فروشگاه<i
                            class="fa fa-arrow-left ms-1"></i></a>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- Row 2 Opened -->
<div class="row mt-5" id="introduction valign-middle">
        <div class="col-md-4 col-xl-4 valign-middle">
            <div class="card text-white bg-primary">
                <div class="card-body text-center">
                    <h4 class="card-title">دامنه رایگان</h4>
                    <p class="card-text">برای داشتن فروشگاه اینترنتی باید دامنه داشته باشی ولی برای شروع ما یدونه بهت میدیم که سر فرصت بری دامنه خودتو ثبت کنی</p>
                </div>
            </div>
            <div class="card text-white bg-success">
                <div class="card-body text-center">
                    <h4 class="card-title">هاست رایگان</h4>
                    <p class="card-text">فرقی نداره چند تا محصول داشته باشی مهم اینه که ما اینجا برای هاست و تمدید هاست هیچ هزینه‌ای نمی‌گیریم. تازه اونم چه هاستی!!!</p>
                </div>
            </div>
            <div class="card text-white bg-primary">
                <div class="card-body text-center">
                    <h4 class="card-title">درگاه پرداخت متصل</h4>
                    <p class="card-text">راه‌اندازی درگاه پرداخت برات سخته؟ اشکالی نداره ما برات درستش کردیم. از همون اول کار وصله. البته میتونی درگاه اختصاصی خودمتم اضافه کنی</p>
                </div>
            </div>
        </div>
        <!-- COL END -->
        
        <!-- COL END -->
        <div class="col-md-4 col-xl-4 mb-5 br-5 valign-middle">
            
                <div class="text-center valign-middle">
                    <a href="{% url 'shop:new-site' %}"><img alt="" class="w-100 br-5 border-success" src="https://marketplace-bucket.storage.iran.liara.space/%D8%B3%D8%A7%D8%AE%D8%AA%20%D9%81%D8%B1%D9%88%D8%B4%DA%AF%D8%A7%D9%87%20%D8%A8%D8%A7%20%D9%81%D8%B1%D9%88%D8%B4%DA%AF%D8%A7%D9%87%20%D8%B3%D8%A7%D8%B2%20%D9%BE%DB%8C%DA%A9%D9%88%D8%B3%D8%A7%DB%8C%D8%AA.jpg" height="510"></a>
                </div>
            
            <!-- <div class="card text-white bg-success">
                <div class="card-body text-center">
                    <h4 class="card-title">مدیریت آسان باورنکردنی</h4>
                    <p class="card-text">اگه قبلا هم سایت داشتی حتما با دیدن پنل مدیریت فروشگاهی که ما برات درست کردیم سورپرایز میشی چون هیچوقت انقدر ساده نبوده</p>
                </div>
            </div>
            <div class="card text-white bg-primary">
                <div class="card-body text-center">
                    <h4 class="card-title">رایگان تا ابد</h4>
                    <p class="card-text">اگه فکر میکنی هنوز فروشگاهت انقدر فروش نداره که براش هزینه کنی اشکال نداره. پکیج استارتر رو بگیر و ماهانه پولی نده!!!</p>
                </div>
            </div>
            <div class="card text-white bg-success">
                <div class="card-body text-center">
                    <h4 class="card-title">افزایش نرخ ورودی</h4>
                    <p class="card-text">ما برای اینکه بهت کمک کنیم فروشت رو بیشتر کنی به طور خودکار و رایگان فروشگاهتو به مارکت پلیس‌های بزرگ کشور وصل میکنیم</p>
                </div>
            </div> -->
        </div>
        <!-- COL END -->
        
        <div class="col-md-4 col-xl-4 valign-middle">
            <div class="card text-white bg-primary">
                <div class="card-body text-center">
                    <h4 class="card-title">گرافیست از ما</h4>
                    <p class="card-text">میخوای برای سایتت بنر‌های جذاب بذاری ولی گرافیست نداری؟! اشکالی نداره از بنرهایی که ما طراحی میکنیم رایگان استفاده کن! به همین سادیگی!!!</p>
                </div>
            </div>
            <div class="card text-white bg-success">
                <div class="card-body text-center">
                    <h4 class="card-title">سرعت و سئو</h4>
                    <p class="card-text">با این کدنویسی و این سرور و این تیم فنی نگران سرعت و سئوی سایتت نباش. اونا رو بسپر به ما فقط تولید محتوا کن و بفروش</p>
                </div>
            </div>
            <div class="card text-white bg-primary">
                <div class="card-body text-center">
                    <h4 class="card-title">آمار و فیدبک سایت</h4>
                    <p class="card-text">تو پنل کاربری انقدر اطلاعات بدرد بخور و جذاب از فروشگاهت برات آماده کردیم که باهاشون میتونی کلی پیشرفت کنی! منتظر چی هستی دیگه؟؟!!</p>
                </div>
            </div>
        </div>
        <!-- COL END -->
       
</div>

<!-- Row 2 Closed -->

<div class="row mb-5" id="prices">
    <div class="col-sm-12 col-xl-12 col-md-12 col-lg-12 mt-5 mb-5">
        <h2 class="fw-bold text-center text-dark">تعرفه‌های فروشگاه‌ساز پیکوسایت</h2>
    </div>

    <div class="col-sm-6 col-xl-3 col-md-6 col-lg-6 ">
        <div class="panel price panel-color card border border-success ">
            <div class="pb-4 px-5 border-bottom">
                <h3 class="pb-2">استارتر</h3>
            </div>
            <div class="panel-body p-0 ps-5">
                <p class="lead py-0 text-secondary"><strong>250 هزار تومان</strong></p>
                <p>ماهانه</p>
            </div>
            
            <ul class="list-group list-group-flush pb-5">
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-secondary p-2 fs-12"></i>دامنه رایگان</li>
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-secondary p-2 fs-12"></i>هاست رایگان</li>
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-secondary p-2 fs-12"></i>پشتیبانی 24 ساعته</li>
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-secondary p-2 fs-12"></i>درگاه پرداخت متصل</li>
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-secondary p-2 fs-12"></i>حداکثر 50 محصول</li>
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-secondary p-2 fs-12"></i>1 طرح قالب قابل انتخاب</li>
                
            </ul>
        </div>
    </div>
    <!-- COL-END -->

    <div class="col-sm-6 col-xl-3 col-md-6 col-lg-6">
        <div class="panel price panel-color card border border-success">
            <div class="pb-4 px-5 border-bottom">
                <h3 class="pb-2">برنزی</h3>
            </div>
            <div class="panel-body p-0 ps-5">
                <p class="lead py-0 text-primary"><strong>350 هزار تومان</strong></p>
                <p>ماهانه</p>
            </div>
            
            <ul class="list-group list-group-flush pb-5">
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-primary p-2 fs-12"></i>دامنه رایگان</li>
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-primary p-2 fs-12"></i>هاست رایگان</li>
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-primary p-2 fs-12"></i>پشتیبانی 24 ساعته</li>
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-primary p-2 fs-12"></i>درگاه پرداخت متصل</li>
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-primary p-2 fs-12"></i>حداکثر 100 محصول</li>
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-primary p-2 fs-12"></i>2 طرح قالب قابل انتخاب</li>
                
            </ul>
        </div>
    </div>
    <!-- COL-END -->

    <div class="col-sm-6 col-xl-3 col-md-6 col-lg-6">
        <div class="panel price panel-color card border border-success">
            <div class="pb-4 px-5 border-bottom">
                <h3 class="pb-2">نقره‌ای</h3>
            </div>
            <div class="panel-body p-0 ps-5">
                <p class="lead py-0 text-danger"><strong>450 هزار تومان</strong></p>
                <p>ماهانه</p>
            </div>
            
            <ul class="list-group list-group-flush pb-5">
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-danger p-2 fs-12"></i>دامنه رایگان</li>
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-danger p-2 fs-12"></i>هاست رایگان</li>
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-danger p-2 fs-12"></i>پشتیبانی 24 ساعته</li>
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-danger p-2 fs-12"></i>درگاه پرداخت متصل</li>
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-danger p-2 fs-12"></i>حداکثر 200 محصول</li>
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-danger p-2 fs-12"></i>3 طرح قالب قابل انتخاب</li>
                
            </ul>
        </div>
    </div>
    <!-- COL-END -->

    <div class="col-sm-6 col-xl-3 col-md-6 col-lg-6">
        <div class="panel price panel-color card border border-success">
            <div class="pb-4 px-5 border-bottom">
                <h3 class="pb-2">طلایی</h3>
            </div>
            <div class="panel-body p-0 ps-5">
                <p class="lead py-0 text-success"><strong>550 هزار تومان</strong></p>
                <p>ماهانه</p>
            </div>
            
            <ul class="list-group list-group-flush pb-5">
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-success p-2 fs-12"></i>دامنه رایگان</li>
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-success p-2 fs-12"></i>هاست رایگان</li>
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-success p-2 fs-12"></i>پشتیبانی 24 ساعته</li>
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-success p-2 fs-12"></i>درگاه پرداخت متصل</li>
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-success p-2 fs-12"></i>بیش از 200 محصول</li>
                <li class="list-group-item border-0"><i
                    class="mdi mdi-circle-outline text-success p-2 fs-12"></i>4 طرح قالب قابل انتخاب</li>
                
            </ul>
        </div>
    </div>
    <!-- COL-END -->
    
</div>

<!-- Row 6 Opened -->
<div class="card custom-card">
    <div class="card-header">
        <div class="btn-list">
            <a class="btn btn-primary" ><i
                    class="me-1"></i>آخرین اخبار</a>
                    <a class="btn btn-success float-sm-end" href="{% url 'blog' %}">مشاهده همه پست‌ها<i
                        class="fa fa-arrow-left ms-1"></i></a>
        </div>
    </div>
    <div class="card-body pt-2 h-100">
        <div class="row">
        {% for post in posts|slice:":4" %}
        <div class="col-xl-3 col-md-12">
            <div class="card overflow-hidden">
                <a href="{% url 'post_detail' post.id %}"><img alt="img" class="card-img-top" src="{{post.get_thumbnail}}"></a>
                <div class="card-body">
                    <a href="{% url 'post_detail' post.id %}"><h5 class="card-title">{{ post.title|truncatewords:8 }}</h5></a>
                    
                    <a class="btn btn-primary mt-4" href="{% url 'post_detail' post.id %}">خواندن بیشتر</a>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
<!-- Row 6 Closed -->

{% endblock %}

{% block js %}
{% endblock %}