{% extends "base_main.html" %}
{% load static %}
{% block title %}پیکوسایت - قوانین و مقررات{% endblock %}

{% block content %}


<div class="page-header">
    <h1 class="page-title">قوانین و مقررات</h1>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">خانه</a></li>
            <li aria-current="page" class="breadcrumb-item active">قوانین و مقررات</li>
        </ol>
    </div>
</div>
<!-- PAGE-HEADER END -->

<!-- ROW-1 OPEN -->
<div class="row ">
    <div class="col-md-12">
        <div class="card border-primary pricing-card advanced">
            <div class="card-body">
                <h4><b>خوش‌آمدید. از این که پیکوسایت را برای راه‌اندازی فروشگاه آنلاین خود انتخاب کرده‌اید سپاس‌گزاریم.</b></h4>
                <p>در اینجا قوانین و مقرراتی که برای استفاده از خدمات پیکوسایت می‌بایست مد نظر قرار گیرد درج شده است. لازم به ذکر است، ثبت نام در پلتفرم پیکو سایت و استفاده از خدمات پیکوسایت به منزله‌ی پذیرش تمامی بندهای این نوشته است.</p>
            </div>
        </div>
    </div>
    <!-- COL-END -->
    <div class="col-md-12">
        <div class="card border-primary pricing-card advanced">
            <div class="card-body">
                <h4><b>اطلاعات هویتی</b></h4>
                <p>کاربر متقاضی استفاده از خدمات سایت ملز م است که نام و نام خانوادگی خود را دقیقا مطابق با اطلاعات حساب بانکی خود درج نماید. در غیر این صورت پرداختی‌های فروشگاه تا زمان اصلاح اطلاعات نزد پیکوسایت بلوکه می‌ماند.</p>
                <p>شماره حساب، شماره تماس و نام کاربری پیکوسایت می‌بایست متعلق به یک فرد باشد. در صورت عدم تطابق مسولیت عدم واریز مبلغ فروش‌ها بر عهده صاحب فروشگاه است.</p>
                <p>اطلاعات هویتی کاربر نزد پیکوسایت کاملا محفوظ است و تنها با دریافت حکم قضایی این اطلاعات در اختیار نهادهای ذیربط قرار داده می‌شود.</p>
                <p>در صورت ارتکاب هر گونه تخلف از سمت سایت ایجاد شده توسط پیکوسایت، صاحب شماره تماس ثبت شده در هنگام ثبت نام و ایجاد سایت مذکور پاسخ‌گو و مسئول تخلفات است.</p>
            </div>
        </div>
    </div>
    <!-- COL-END -->
    <div class="col-md-12">
        <div class="card border-primary pricing-card advanced">
            <div class="card-body">
                <h4><b>مالی و درگاه پرداخت</b></h4>
                <p>پیکوسایت در ابتدای راه‌اندازی سایت یک درگاه پرداخت اشتراکی در اختیار تمامی مشترکین قرار می‌دهد. اما کاربر باید در اسرع وقت نسبت به افتتاح حساب زرین پال اقدام نماید. </p>
                <p>تا زمان فعال‌سازی درگاه پرداخت اختصاصی سایت، تمامی مبلغ تمامی سفارشات به درگاه پرداخت مشترک واریز می‌شود و در کیف پول فروشگاه نگهداری می‌شود. صاحب فروشگاه در هر زمان قادر به درخواست تصفیه حساب می‌باشد و نهایتا تا 24 ساعت کاری اعتبار ذخیره شده‌ی فروشگاه نزد پیکوسایت به شماره حساب فروشگاه واریز می‌شود.</p>
                <p>سابقه تمامی خرید‌ها، واریزی‌های مشتریان سایت‌ها، درخواست‌های تصفیه حساب صاحبین فروشگاه و واریزی‌های پیکوسایت برای فروشندگان، نزد پیکوسایت نگهداری می‌شود و در صورت بروز هر گونه مشکل و یا تخل محل رجوع قانونی بوده و فروشندگان این سوابق را تایید می‌نمایند.</p>
            </div>
        </div>
    </div>
    <!-- COL-END -->
    <div class="col-md-12">
        <div class="card border-primary pricing-card advanced">
            <div class="card-body">
                <h4><b>کالاهای قابل فروش</b></h4>
                <p>محصولاتی که در فروشگاه‌های پیکوسایت عرضه می‌شوند می‌بایست تابع قوانین و مقررات کشوری باشند.</p>
                <p>مسئولیت عرضه‌ی محصولات مغایر با قوانین کشور بر عهده‌ی صاحب فروشگاه است و پیکوسایت هیچ مسئولیتی از این بابت ندارد.</p>
            </div>
        </div>
    </div>
    <!-- COL-END -->
    <div class="col-md-12">
        <div class="card border-primary pricing-card advanced">
            <div class="card-body">
                <h4><b>محتوای سایت فروشگاه‌ها</b></h4>
                <p>پیکوسایت جهت نگهداری نرم‌افزاری و سخت‌افزاری فروشگاه‌ها دیتابیس و محتوای تمامی فروشگاه‌ها را در استوریج‌های خود ذخیره می‌نماید و به طور منظم از این داده‌ها پشتیبان‌گیری می‌کند.</p>
                <p>پیکوسایت می‌تواند جهت افزایش ترافیک سایت‌های خود، محصولات و مقالات وبلاگ سایت‌ها را در وب‌سایت و صفحات اجتماعی خود با قید لینک سایت بازنشر نماید.</p>
                <p>تصاویر، متن‌ها و ویدئوهای قرار داده شده بر روی سایت بایستی مطابق با موازین، مقررات و عرف کشور باشد.</p>
            </div>
        </div>
    </div>
    <!-- COL-END -->
</div>


{% endblock %}